[2017-02-03 11:43] Davide-sd opened #5 "Problems running this project"
I'm having problems to run this project, both in my local machine and a freshly setup virtual machine, both running Ubuntu 16.04.

Docker version 1.13.0, build 49bf474
docker-compose version 1.10.0, build 4bd6f1a

Here are the steps to replicate the problem:

1. Open the terminal, run the command: `docker run -v 'pwd':/usr/src/app GeoNode/django:geonode django-admin.py startproject --template=http

[2017-02-03 14:55] waybarrios commented on #5
Hi @Davide-sd Please you have to use the last one geoserver image from master geonode.

You can see it on the following docker-compose https://github.com/GeoNode/geonode/blob/master/docker-compose.yml#L34

This geoserver image has oath2 authentication, so it is the last updated image

[2017-03-10 17:41] pjdufour opened #8 "Ansible pre-tasks"
Update default playbook with sometimes necessary pre-tasks: .e.g.,

https://gist.github.com/gwillem/4ba393dceb55e5ae276a87300f6b8e6f

[2017-03-27 19:10] pjdufour commented on #8
Done

[2017-03-27 19:10] #8 closed, assigned to nobody

[2018-01-05 02:58] olivierdalang opened #30 "Adapt for production using Docker"
Hi !

I've been trying out this project using Docker. I'm currently have some problems running it with Docker (probably linked to https://github.com/GeoNode/geonode-project/issues/5 ), but will probably have that sorted out at some point.

I think it's very promising, as it makes it very easy to develop a custom Geonode project without all the hassle of configuring all required services.

However,

[2018-01-05 11:08] francbartoli commented on #30
@olivierdalang thanks for your feedbacks and good if you have patches/PRs to improve the docker stuff here. However the goal of this project is to start the customization of a GeoNode instance regardless about Docker.
I'd suggest before digging into this to take more confidence with GeoNode dockerization and the images it is using from [dockerhub](https://hub.docker.com/r/geonode/).
Several issues

[2018-01-10 05:51] anjogu commented on #5
Hey,
I can't find the local_settings.py.sample file can anyone assist me in this?

[2018-01-10 08:08] simod commented on #5
@anthony-njogu local_settings is obsolete. You can just tune the settings.py file.

best

[2018-01-10 08:08] #5 closed, assigned to nobody

[2018-04-03 12:12] Roburetto opened #31 "pygdal minimum version requirements"
Requirements for 2.8.0 include:  pygdal==2.1.3.3
[Debian Stretch version is 2.1.2.3](https://packages.debian.org/stretch/gdal-bin)
Can geonode be properly run with gdal 2.12 instead of 2.1.3?

[2018-04-03 16:51] Roburetto opened #32 "Application labels aren't unique, duplicates: ows_api"
While trying to install 2.8.0, paver setup fails with:
django.core.exceptions.ImproperlyConfigured: Application labels aren't unique, duplicates: ows_api

Full details:
(geonode) geo@debian:/home/geonode/my_geonode$ DJANGO_SETTINGS_MODULE=my_geonode                                         .settings paver setup
---> pavement.setup
---> pavement.setup_geoserver
rmtree path('geoserver/data')
---> pav

[2018-04-03 18:13] Roburetto commented on #32
Hum. If I comment out Line 348 of settings.py it seems to work:
#INSTALLED_APPS += ('geonode.contrib.ows_api',)
Does this mean a personalized ows_api must be set somewhere? Pardon my ignorance, but I find no reference in the documentation...

[2018-04-03 21:55] Roburetto commented on #32
Nevermind.
It seems I did not follow instructions to the letter. Namely [the portion](http://docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/create_geonode_db.html): "Revert to default site settings. You need to revert some customizations of the my_geonode local_settings"

[2018-04-03 21:55] #32 closed, assigned to nobody

[2018-04-04 07:39] davekennewell commented on #32
I have this issue when installing geonode 2.8.0 followed by creating a geonode-project from the template.

Commenting out Line 348 of settings.py fixes it, as Roburetto suggests.

I'm not sure what the ows_api contrib app actually does, but generally we shouldn't have contrib apps turned on by default? Maybe someone who knows what it does can tell us if we should have it on or off in this repo?

T

[2018-04-13 13:25] t-book opened #34 "Explanation for apt installation missing in 2.8"
geonode_project documentation does not mention how to work with geonode_project and geonode installed by apt.

( Which it did in past ).
If geonode_project is meant to be used with installation from ppa as well this should be added/explained.

[2018-04-13 18:55] DarnelleF opened #35 "config.xml file missing"
using the geonode docs there is a configure file miss from [here](http://docs.geonode.org/en/master/tutorials/install_and_admin/geonode_install/install_geoserver_application.html)

`$ sudo gedit /data/geoserver-data/security/auth/geonodeAuthProvider/config.xml`

which doesnt exist. there are two other config files geofence and default

[2018-04-25 18:49] DarnelleF commented on #35
no longer needed in geoserver 2.12
closing issue

[2018-04-25 18:49] #35 closed, assigned to nobody

[2018-08-03 08:51] afabiani opened #41 "Issues with paver tasks"
In behalf of Julierme (keeping track of ml issues)

Dear GeoNode users,

I am setting a new geonode-project in a python virtualenv following [1]. While running all the command line, paver sync is hitting a error:

Traceback (most recent call last):
  File "manage.py", line 31, in <module>
    execute_from_command_line(sys.argv)
  File "/home/geo/Envs/geonode_project/local/lib/python2.7/site-packag

[2018-08-09 08:37] #34 closed, assigned to nobody

[2018-08-09 09:38] t-book opened #42 "OSX Docker 502 Bad Gateway"
Hi @afabiani,

Platform OSX 10.13.5
Docker Version 18.06.0-ce-mac70 (26399)

For a quick test of the new template under Docker I´ve run
<pre>
git clone https://github.com/GeoNode/geonode-project.git -b master
virtualenv ~/env/my_geonode
source ~/env/my_geonode/bin/activate
pip install Django==1.11.11
django-admin startproject --template=./geonode-project -e py,rst,json,yml,ini,env,sample -n Docker

[2018-08-14 15:40] afabiani commented on #42
@t-book is this happening even after waiting some time? Usually it takes a bit before all containers have been fully started. Otherwise I'm afraid one or more of the django containers are failing somehow. You should be able to find the cause on the django4<geonode_project_something> container logs.

[2018-08-14 17:12] t-book commented on #42
Hi @afabiani , yes unfortunately also when waiting some time. I´ll check the logs if I can find something ;) Thanks!

[2018-08-29 18:37] indeOWS commented on #41
Hi @afabiani
Thank you very much for reporting the issue here.

[2018-08-29 18:52] indeOWS opened #43 "Docker CollectStatic"
Hi All,

I am trying to run docker-compose exec django django-admin.py collectstatic --noinput on GeoNode_Project@2.10rc4 instance. The response is: 2 static files copied to '/mnt/volumes/statics/static', 1716 unmodified. But the subdirectories ./volumes/statics/static do not exist. The directory static_root was not created either. Any comment on that will be very appreciated it.
Thank you very mu

[2018-08-31 15:10] #43 closed, assigned to nobody

[2018-08-31 15:11] indeOWS commented on #43
Docker World...

[2018-09-12 16:19] dmarteau commented on #42
Same problem, no error reported in django container logs.

Got the following from nginx:
[code]
Ips are correct, but django in not accepting the connection (connection established but refused by django, I suspect a configuration problem.

For information I can access the /geoserver

here is the configuration used:

[code]

[2018-09-12 19:30] dmarteau commented on #42
Found that you cannot use geonode/geonode:2.6.x with geonode/nginx:geoserver; django uwsgi protocol is configured to be http, while nginx try to speak uwsgi protocol !

[2018-09-13 04:20] bangkoor opened #44 "404 on thumbnails & other element"
I have installed Geonode on Ubuntu in a client machine using VirtualBox. The network setting is NAT with port forwarding. So I can access the app from host machine using a port.

The problem is I got 404 on some elements such as thumbnails and image. It is because they are still on the original URL without port.

example:
http://**localhost**/uploaded/thumbs/layer-43ff4bd2-b699-11e8-87ab-0800272d5

[2018-09-13 08:18] simod commented on #44
hi you can use "geonode updateip -p localhost:82" to fix it.

ps please use the mailing list to ask for support

[2018-09-13 08:18] #44 closed, assigned to nobody

[2018-09-17 12:38] francbartoli opened #45 "Move environment variables from docker-compose file to .env"
We want to make sure the easiest path for new developers which is aligned with the main repo where variables are loaded from .env files for each component/service of the stack

[2018-10-16 13:10] t-book opened #46 "Paver setup fails with bad handshake"
Hi,

I´ve just run a geonode install from geonode-project -b master. `paver setup` failed because of a bad SSL handshake on Ubuntu 16.04. I think the cleanest solution would be to whitelist the build servers cert on the requesting server.

As a quick fix we could add the

`verify=False`
https://github.com/GeoNode/geonode-project/blob/master/pavement.py#L81

as geonode core does in pavement.py.

[2018-10-16 13:20] #46 closed, assigned to nobody

[2018-10-30 15:28] t-book opened #47 "paver sync default_oauth_apps.json on 2.8 branch from master"
Hi,

paver sync is failing in 2.8 branch because of:
- created
- algorithm
- updated
https://github.com/GeoNode/geonode-project/blob/2.8/fixtures/default_oauth_apps.json

Is it possible that this has been accidentally pulled from master?

[2018-10-30 15:36] afabiani commented on #47
@t-book yes, must be reverted. Thanks for reporting

[2018-10-30 15:36] t-book commented on #47
+1

[2018-10-30 15:50] afabiani commented on #47
@t-book should be ok now

[2018-10-30 15:57] t-book commented on #47
@afabiani Grazie Alessio. Yes it works now. Thanks!

[2018-10-30 15:57] #47 closed, assigned to nobody

[2018-10-30 15:59] t-book commented on #42
closed, cannot reproduce anymore.

[2018-10-30 15:59] #42 closed, assigned to nobody

[2018-11-01 09:03] t-book opened #48 "__version__() in 2.8 branch"
@afabiani shouldn´t __init__.py in 2.8 branch say 2.8.1 or 2.8.x?

`__version__ = (2, 7, 7, 'unstable', 0)`
https://github.com/GeoNode/geonode-project/blob/2.8/project_name/__init__.py

[2018-11-01 21:10] t-book opened #49 "save map broken on 2.8 branch?"
Hi,

I´ve just installed GeoNode project 2.8 on two different Mac boxes. After saving a map I'm getting following error:

[code]

I´ve tried with different test layers (shp boundaries, raster etc. from training). This does not happen when using master branch. (Will do another check on Ubuntu as well but assume something wrong with GS13 or helper.py)

[2018-11-01 22:04] t-book commented on #49
This seems to come from utils.py . Paolos last PR 942e286  fix this issue on master:

the lines are:
[code]
 https://github.com/GeoNode/geonode/blob/942e286246111ff7b52d9cd2a8d85d05e30e7e2c/geonode/layers/utils.py#L992

@afabiani @francbartoli Would you kindly have a look at this and back port utils from master to 2.8, if no other reasons stand against it, thanks!

[2018-11-02 07:33] t-book commented on #49
– this issue should be in geonode repository, sorry ! –

[2018-11-02 07:37] t-book commented on #41
I cannot reproduce that @juliermegeotube is this issue still up to date?

[2018-11-02 12:45] t-book commented on #49
-tested on ubuntu 16.04 same behavior-

[2018-11-05 08:57] afabiani commented on #49
@t-book yeps, will check today. Thanks.

[2018-11-05 09:04] afabiani commented on #48
@t-book +1

will change accordingly. Thanks for looking.

[2018-11-05 09:11] #48 closed, assigned to nobody

[2018-11-05 09:18] t-book commented on #49
as always, thanks Alessio!

[2018-11-05 09:37] afabiani commented on #49
https://github.com/GeoNode/geonode/pull/4054

[2018-11-06 14:00] t-book commented on #49
closed with PR from afabiani.

[2018-11-06 14:00] #49 closed, assigned to nobody

[2018-11-06 15:35] #41 closed, assigned to nobody

[2018-11-08 11:57] indeOWS commented on #41
Hi Toni and Alessio,

Thank you very much for taking this issue to consideration.

Kind regards

Julierme

On Tue, Nov 6, 2018 at 1:35 PM Alessio Fabiani <notifications@github.com>
wrote:

[2018-11-26 11:32] indeOWS opened #51 "geonode-project@2.8 docker installation fails configuring WSGI as local_settings"
I have noticed that geonode-project@2.8 docker installation fails configuring WSGI.py as os.environ.setdefault("DJANGO_SETTINGS_MODULE", "my_geonode.local_settings").
I realized that the issue may be related to the settings and local_settings.py files. I used settings.py@2.7 and local_settings.py@2.7 and the installation succeeded except, geonode-project instance is unable to retrieve site_base.cs

[2018-11-27 09:35] afabiani commented on #51
Hi @juliermegeotube
currently I see in the code that this has been reverted to .settings

https://github.com/GeoNode/geonode-project/blob/2.8/project_name/wsgi.py

However if you don't want to update your docker installation, you can always override the property by using the environment variable

`DJANGO_SETTINGS_MODULE=my_geonode.settings`

This could be set into the uwsgi.ini as an instance.

[2018-12-03 09:21] mdsnor commented on #51
This is an issue in gonode-project settings and local_settings management, in my opinion.

Currently, local_settings.py are always imported by settings.py, and not overriding but just "extending" settings.py.

This diverges from the behavior of local_settings in vanilla geonode, where local_settings.py are importing settings.py, and overriding:
https://github.com/GeoNode/geonode/blob/master/geonod

[2018-12-03 13:38] indeOWS commented on #51
Dear Alessio and Matteo,

Thank you both for the highlights. Let me understand what you both pointed
here:

By Alessio:

I understood that I can use local_settings.py, and still configure wsgi.py
as os.environ.setdefault("DJANGO_SETTINGS_MODULE", "my_geonode.settings").
Is that the correct understanding?
Sorry Alessio, one thing I did not understand: I currently have
"DJANGO_SETTINGS_MODULE", "my_

[2018-12-03 15:21] indeOWS commented on #51
Hi Alessio and Matteo,

I tried installing a new instance, using local_settings.py and configuring
wsgi.py as os.environ.setdefault("DJANGO_SETTINGS_MODULE",
"my_geonode.settings").
But the installation did not succeed.

Kind regards

Julierme

On Mon, Dec 3, 2018 at 11:38 AM Julierme Pinheiro <
juliermeopensourcedeveloper@gmail.com> wrote:

[2018-12-04 16:05] frafra opened #52 "Cannot apply fixtures from Docker"
Branch: 2.8

[code]

[2018-12-04 16:06] frafra opened #53 "SELinux support"
Celery cannot access to `/mnt/volumes/statics/geonode_init.lock` while using docker-compose up --build in a new project, so it keep restarting.

I removed a couple of fixtures to overcome issue #52

[code]

Branch: 2.8

[2018-12-04 16:08] frafra opened #54 "celery4nina_catalog | Unknown command: 'rebuild_index'"
While starting celery with Docker I got this error:

[code]

Branch: 2.8

[2018-12-05 08:22] afabiani commented on #51
Dear all,
historically geonode-project followed the path described by Matteo for
whatever reasons that I don't remember now.

I agree that we should align the two approaches in order to avoid confusion.

Il giorno lun 3 dic 2018 alle ore 16:21 juliermegithub <
notifications@github.com> ha scritto:

--

==

GeoServer Professional Services from the experts! Visit http://goo.gl/it488V
for more inform

[2018-12-05 08:42] frafra commented on #54
Reproducible on master.

[2018-12-05 08:42] frafra commented on #53
Reproducible on master.

[2018-12-06 12:10] indeOWS commented on #51
Dear all,
Here http://192.241.135.159/ is an example. Ubuntu Server 18.04 LTS with geonode-project@2.8 installed via docker using os.environ.setdefault("DJANGO_SETTINGS_MODULE", "my_geonode.local_settings") config for WSGI.py. SITE_BASE.CSS has not been retrieved.
Any help will be very appreciated

Kind regards

[2018-12-06 12:12] indeOWS commented on #51
Sorry, for the previous email, consider os.environ.setdefault("DJANGO_SETTINGS_MODULE", "my_geonode.settings").

But both, either settings and local_settings in WSGI.py, SITE_BASE.CSS has not been retrieved.
Thank you for your time in advance

[2018-12-06 12:22] indeOWS commented on #51
Dear all,
Here http://192.241.135.159/ is an example. Ubuntu Server 18.04 LTS with
geonode-project@2.8 installed via docker using
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "my_geonode.settings")
config for WSGI.py. SITE_BASE.CSS has not been retrieved.

But both, either settings and local_settings in WSGI.py, SITE_BASE.CSS has
not been retrieved.
Thank you for your time in advance

Any help

[2018-12-06 13:51] frafra commented on #53
It seems that this is related with SELinux. As Geonode supports CentOS, it would be nice to have a couple of additional commands for setting it in the README.md.

[2018-12-06 13:53] frafra commented on #52
This bug is not critical, because the default policy is restarting the containers every time something goes bad.
It would be nice to have a working docker-compose.yml without restarts.

[2018-12-07 09:11] afabiani commented on #51
Hi Julierme,
I will try to reproduce the issue today. Thanks for reporting.

Will let you know ASAP.

Il giorno gio 6 dic 2018 alle ore 13:22 juliermegithub <
notifications@github.com> ha scritto:

--

==

GeoServer Professional Services from the experts! Visit http://goo.gl/it488V
for more information.
==
Ing. Alessio Fabiani

@alfa7691
Founder/Technical Lead

GeoSolutions S.A.S.
Via di Montramit

[2018-12-07 09:19] afabiani commented on #54
@frafra thanks, will take a look.

[2018-12-07 09:20] afabiani commented on #53
@frafra would it be possible for you to send out the sequence of commands to add?

[2018-12-07 09:20] afabiani commented on #52
@frafra thanks, will take a look asap.

[2018-12-07 14:58] frafra opened #55 "/var/run/docker.sock should not be mounted"
/var/run/docker.sock is mounted on many different containers and that is not suitable for production (it is not acceptable to give the right to geonode to manage Docker: this would be a security issue).
What it is used for? The software seems to run even without it.

[2018-12-10 07:50] frafra commented on #53
It seems that this is an issue related to that: https://danwalsh.livejournal.com/81269.html
I still need to find a proper solution.

[2018-12-11 17:28] d3netxer opened #56 "change name of site_index.html in (geonode-project/project_name/templates/site_index.html) to index.html"
In production does site_index.html need to be names index.html? That is the only way I am seeing the changes showing up for me.

If this is the case, let's change the name of site_index.html to index.html

[2018-12-14 16:50] t-book commented on #56
I don´t think renaming is the way to go. urls is pointing correctly to site_index https://github.com/GeoNode/geonode-project/blob/master/project_name/urls.py#L33
further site_index is extending index. the question is why {% block hero %} is not taken into account anymore. I think it´s something here https://github.com/GeoNode/geonode/blob/master/geonode/templates/index.html#L13 Will try to have a

[2018-12-15 09:38] t-book commented on #56
@d3netxer
It´s the block.super in site_index if you remove it it´ll work.
See: https://github.com/t-book/geonode-project/commit/b1de1f152447e5d26df4138e703ad6aacdd18ca5

@afabiani  I don´t think we need  block.super here and would remove it. Do I miss something or is it okay to create a PR?

[2018-12-17 09:00] afabiani commented on #56
@t-book can you send a PR accordingly? It works on my side but I'm not following the specific use case.

[2018-12-17 09:51] t-book commented on #56
@afabiani let´s close this issue?

[2018-12-21 08:32] francbartoli commented on #55
Hi @frafra the socket is used internally by python docker sdk, i.e. [here](https://github.com/GeoNode/geonode-project/blob/master/tasks.py#L128-L160)

[2018-12-21 08:46] francbartoli opened #58 "docker-compose up is broken"
Containers of django and celery don't go up with the following error:

[code]

Effectively running the command from the shell of the container gives the same error and the usage doesn't return the `collect_metrics` as available command

[2018-12-21 09:02] frafra commented on #55
Hi @francbartoli, thank you for your reply.
So it looks to me that setting `GEONODE_LB_HOST_IP` and avoid mounting `/var/run/docker.sock` is the only viable solution in a production environment. I think that should be the default, as mounting `docker.sock` inside geonode would be like giving root access to geonode to the entire machine.

[2018-12-21 09:04] afabiani commented on #58
That command should be available with "MONITORING=True"

[2018-12-21 09:38] francbartoli commented on #55
@frafra I understand your concern about security. There could be cases where we cannot get rid of DinD. Do you think there is space to moderate the issue?

[2018-12-21 09:41] francbartoli commented on #58
@afabiani thanks, I see. Do you think it makes sense to override the whole snippet about monitoring? I'm wondering if it is already managed to establish the correct hostname in case of docker environment

[2018-12-21 09:48] afabiani commented on #58
@francbartoli you mean disabled by default? Or expose more env variables?

[2018-12-21 09:49] francbartoli commented on #58
At the moment it is declared from `uwsgi.ini` while monitoring is not enabled on settings when a fresh new brand geonode-project is created

[2018-12-21 09:51] afabiani commented on #58
maybe let's comment this command on uwsgi and document how enabled it, as people would like to disable Monitoring.

[2018-12-21 11:27] francbartoli commented on #55
Maybe this workaround below can be applied for production:
- [https://integratedcode.us/2016/04/08/user-namespaces-sharing-the-docker-unix-socket/](https://integratedcode.us/2016/04/08/user-namespaces-sharing-the-docker-unix-socket/)
- [https://integratedcode.us/2016/04/20/sharing-the-docker-unix-socket-with-unprivileged-containers-redux/](https://integratedcode.us/2016/04/20/sharing-the-docker-un

[2018-12-21 11:55] frafra commented on #55
@francbartoli I personally see no reason to give to GeoNode access to Docker in the first place. It is not a service which should interact with other containers (like Traefik, Portainer, and so on) and it would be better to obtain the IP as a variable: it is both a security issue and an anti-pattern. Eventual future proposals for using `docker.sock` should be discussed independently. But that is j

[2018-12-21 12:38] francbartoli commented on #55
A lot of good points @frafra indeed! That was thought for non sysadmin users who want to try the stack and are not even able to know and understand docker networking and get the `docker0` ip address in native environments for setting up `GEONODE_LB_HOST_IP`. We have to still give them an utility to do that automagically imho. Something like:

`geonode-docker-compose up`

which can read the address

[2018-12-21 12:48] frafra commented on #55
It seems a very nice solution to me :-)

Maybe there is an even simpler solution if `localhost` is an acceptable default:
- Set `GEONODE_LB_HOST_IP` in `docker-compose.yml` as an environmental variable like this: `GEONODE_LB_HOST_IP:${GEONODE_LB_HOST_IP}`
- Set a default value for `GEONODE_LB_HOST_IP` (would `127.0.0.1` be ok?)
- Add an example for setting `GEONODE_LB_HOST_IP` in `docker-compose-o

[2018-12-21 13:25] francbartoli commented on #58
Still not up after fixing #54. Still problem on `uwsgi` which is complaining with `invalid request block size: 21573 (max 4096)...skip`

[2018-12-21 14:49] francbartoli commented on #58
This sort of error has been already reported https://github.com/jrief/django-websocket-redis/issues/27 for the communication between `nginx` and `uwsgi`. @afabiani do you have any idea if once the http socket changed then the configuration for nginx has been amended accordingly?

[2018-12-21 14:53] afabiani commented on #58
Quite strange I tested the docker few days ago without problems.

Will double check again as soon as possible.

[2018-12-21 16:48] francbartoli commented on #58
@afabiani I confirm what I thought:

Current geonode-project `uwsgi.ini` configuration:
[code]

Geonode `uwsgi.ini` configuration:
[code]

If we want to go with a socket (i.e. `socket = /tmp/uwsgi.socket`) as it is now this repo we have to share it as volume, mount that in the nginx container and change the conf directive to something like:
`proxy_pass http://unix:/path/to/uwsgi.socket;`

Otherwis

[2018-12-28 14:08] francbartoli commented on #58
I have to rectify the last part of last comment:

`uwsgi-socket = 0.0.0.0:8000` works so I'd use this one as a patch. I'll send a PR for it.

[2019-01-15 15:51] giohappy commented on #55
I understand your concerns @frafra, they were also mine months ago.
I think it's time to take a decision on this. I'm in favour of removing this "magic" which simplifies the setup but, as you descibed, brings a list of issues (one is the hack to make the Docker socket work on Windows).
@francbartoli my vote is to remove it but I want to hear from you what problems it could bring from your side.

[2019-01-15 18:57] francbartoli commented on #55
Agree with you guys to remove it but I believe there will be consequences in some cases, for instance multiple geonode stacks on rancher and also I need to figure out native linux when that variable GEONODE_LB_HOST_IP is not set. Maybe it would be better to understand how to accomodate them too before doing it

[2019-01-16 08:42] frafra commented on #55
@giohappy the "hack" to make the Docker socket work on Windows is gone, as there is no need to use the Docker socket anymore.

@francbartoli localhost:80 seems a reasonable default to me. People who relies on that automatic host/port detection should use the documented environmental variables. `GEONODE_LB_HOST_IP` and `GEONODE_LB_HOST_PORT`. We could provide a script to get the same behavior witho

[2019-01-16 08:52] afabiani commented on #55
Seems a reasonable solution to me also.

@francbartoli if you have some time, could you please evaluate it more carefully and eventually merge it? Let me know if you need help to test different use cases.

Thanks all.

[2019-01-16 09:29] francbartoli commented on #55
@afabiani let's play for a while with this and then merge

[2019-01-16 09:30] #58 closed, assigned to nobody

[2019-01-16 09:32] francbartoli commented on #56
@t-book @afabiani Can I close this?

[2019-01-16 09:36] frafra commented on #55
Similar change could be proposed for the main geonode repository, but it seems to me that copying the files and snippets of code around could be a bad idea. For example, in the official geonode repository `tasks.py` has a function which tries to execute `wait-for-databases.sh`, which does not exist in that repository: the code has probably been copied from geonode-project.

If this pull request ge

[2019-01-16 09:36] t-book commented on #56
@francbartoli yes! thanks!

[2019-01-16 09:37] #56 closed, assigned to nobody

[2019-01-16 09:48] francbartoli commented on #55
@frafra that file has been copied from the [geonode-docker](https://github.com/GeoNode/geonode-docker) repository to being able to override it during development with the option `--build`

[2019-01-16 10:00] olivierdalang commented on #55
@frafra Yes, we definitely need one reference implementation for Docker in the central repo, from which the setup for geonode-project should somehow derive.

As a reminder, we now also have spcgeonode in the main repo (in the scripts folder), that has some advantages over the setup that lies in the root (e.g. already didn't have docker in docker, has proper versioning of the images, proper logging

[2019-01-16 17:45] #51 closed, assigned to nobody

[2019-01-16 17:46] indeOWS commented on #51
I am closing this issue.

[2019-01-17 08:34] frafra commented on #55
@olivierdalang Thanks; now that it has been merged in the main repository I will use it and continue to propose minor improvements on it, hoping it could become the preferred way to deal with Docker.

[2019-01-17 08:40] afabiani commented on #55
Remember to close this issue if it does not apply anymore.

Also, if possible and with respect to the available resources from everyone, let's try to improve the documentation also which is currently a bit messed and outdated.

[2019-01-17 08:47] frafra commented on #55
I would still suggest to apply the proposed patch, because having docker.sock exposed means that the container has the full control of the machine, so if there is a security issue in geonode the server could be compromised. But feel free to reject it if you prefer to do otherwise.

I am currently testing oliver's solution and I think I will use it for production with some minor modifications (it i

[2019-01-17 08:50] afabiani commented on #55
@frafra very nice, thanks.

If the solution is better, more stable and well documented, we can envisage a GNIP (or just evaluating this during a PSC meeting) to substitute the current docker setup with the SPC one.

[2019-01-17 17:36] dakula009 opened #62 ""Filter by Attributes" Download Layer Failed"
Hello, when downloading a layer, I was trying to use the "filter by attributes" feature. However, the download filter did not work properly, it did not return any attribute values in the list (in fact the list was not created at all). I found an exactly the same issue from here: GeoNode/geonode#3609. Has it been addressed yet? If not, is there a workaround for it? I'm using GeoNode 2.8 installed v

[2019-01-17 17:39] #62 closed, assigned to nobody

[2019-01-17 17:39] dakula009 commented on #62
Posted at wrong thread

[2019-01-25 00:27] #55 closed, assigned to nobody

[2019-01-25 20:45] francbartoli opened #63 "[GNPIP] Add geonode-project CLI with docker subcommand"
# Proposal

Currently we have got rid of mounting docker socket and the deployment cannot automagically discover ip address of the daemon along all the possible cases (Docker4Mac, Docker Machine, Native Linux, etc).
The aim of this command line is to give the users an utility to ease the configuration of docker-compose or optionally do automatically it through by modifying the root .env file.
Some

[2019-01-25 20:53] francbartoli commented on #55
@frafra please have a look at GNPIP #63

[2019-01-28 09:21] gannebamm commented on #63
I am not experienced in docker and django projects, but I would like to get an 'easy' way to create a docker based geonode-project for theming and other modifications. But I am not shure if we need a CLI for this, or 'just' good documentation. A CLI would make everything faster but for me would hide some of the underlying mechanisms which could lead to less understanding of the whole technique.

[2019-01-28 09:30] francbartoli commented on #63
Thanks @gannebamm for your comment. The primary intent is to solve the question what's the address to use in order to configure properly the .env files for docker-compose up. Mostly of our users don't want to learn Docker and other stuff but just having a straightforward method to run the stack.

[2019-01-28 10:25] olivierdalang commented on #63
-1 for CLI, which would be one more thing to maintain. Configuring the stack can be done simply by editing the .env (or setting env vars), which doesn't require much knowledge about Docker.

[2019-01-28 10:48] francbartoli commented on #63
Hi @olivierdalang actually it does because you have certainly to know the ip address to use for .env or env vars. This proposal makes just life easier to know that information. Optionally it makes the editing for the user.

[2019-01-28 11:26] giohappy commented on #63
what if we add this command to the paver tasks?

[2019-01-28 13:46] francbartoli commented on #63
@giohappy it makes sense even though the idea was to add it to invoke tasks which would have an easier [integration](http://docs.pyinvoke.org/en/1.2/concepts/library.html#reusing-invoke-s-cli-module-as-a-distinct-binary) with setup.py

[2019-01-29 17:19] giohappy opened #64 "GEOSERVER_PUBLIC_LOCATION in docker-compose should be updated to /gs"
GeoNode GEOSERVER_PUBLIC_LOCATION [has been changed](https://github.com/GeoNode/geonode/blob/master/geonode/settings.py#L752) to point by default to the proxied Geoserver location (/gs).
The same should be done inside docker-compose, [here](https://github.com/GeoNode/geonode-project/blob/master/docker-compose.yml#L162) and [here](https://github.com/GeoNode/geonode-project/blob/master/docker-compos

[2019-02-11 13:19] #64 closed, assigned to francbartoli, afabiani

[2019-02-27 18:14] francbartoli opened #67 "Layer and map objects have no-image thumbnails"
The right thumbnail is generated and present in the metadata detail though while remote thumbnail complains about missing WIDTH and HEIGHT in the request parameters

[2019-02-28 12:30] francbartoli commented on #67
The output from a docker-compose run shows an error from a celery task:

[code]

[2019-03-07 15:12] frafra opened #68 "Avoid duplicating Docker files from geonode/geonode"
Is there a better way than trying to keep Docker files synchronized between these repositories manually?

[2019-03-16 15:17] francbartoli commented on #68
@frafra what options do we have?

1. Obtain the files from geonode repo with curl or programmatically with requests during the bootstrap of a new geonode-project
2. Any other?

[2019-03-16 15:21] francbartoli opened #71 "Improve docker-compose files with extension fields"
See [https://docs.docker.com/compose/compose-file/#extension-fields](https://docs.docker.com/compose/compose-file/#extension-fields)

[2019-03-16 16:07] francbartoli opened #72 "Installation of requirements.txt shows incompatibility of oauthlib"
During the step of the dockerfile:
`RUN pip install --upgrade --no-cache-dir --src /usr/src -r requirements.txt`

this message is appearing:
`requests-oauthlib 1.2.0 has requirement oauthlib>=3.0.0, but you'll have oauthlib 2.1.0 which is incompatible`

[2019-03-27 14:54] frafra commented on #67
I can confirm, I have the same issue on spcgeonode.

[2019-03-28 09:26] frafra commented on #67
I made a new test and run `git bisect`. I think I found the regression: https://github.com/GeoNode/geonode/commit/a18bbd447721a370772ebc030632f4e36a4e4262

[code]

[2019-03-28 13:33] afabiani commented on #67
@frafra the PR on GeoNode has been merged.
Whenever you have the chance to test this again, please remember to close the issue. Thanks.

[2019-04-09 15:53] afabiani opened #73 "HYSTACK SEARCH causing issues with elasticsearch docker image"

[2019-04-09 16:20] ingenieroariel commented on #73
Do you have more info? I am in this part of the codebase on a custom geonode project and can help debug.

Originally I got 0 results after I loaded more than 500 layers. What was happening was elasticsearch did not like the "list of ids" that geonode sends when it is too large and was just returning zero results.

In order to continue forward I enabled `SKIP_*` and tweaked the code a bit.

[2019-04-09 16:30] afabiani commented on #73
Currently not, except some weird behavior experienced today by @ppasq

Most probably that part should be refactorized from scratch by using elastisearch-dsl instead of django-haystack

[2019-04-10 08:29] ppasq commented on #73
Just to summerize what I experienced:

- The layers count corresponds to the number of listed layers but it is different from what is reported in the filter type (sum of types). The latter is correct. Can't understand why some are listed while others not.
- The username does not appear in the resourcebase_snippet and points to a broken url (/layers/people/profile/username?!?)
- The group does not

[2019-04-10 11:48] ingenieroariel commented on #73
Grazie Paolo,

I should be able to look into this as part of the secondary cities project in the coming weeks. Will keep this issue updated.

[2019-05-29 15:21] rli-rms opened #74 ""ImportError: No module named contrib" when using local_settings.py"
I have been experiencing an issue for Geonode project running on docker. When using `local_settings.py` instead of `settings.py`, the Geonode cannot be built successfully.

I have reproduced this on a freshly started Geonode project. Here are the steps I took:
1. git clone https://github.com/GeoNode/geonode-project.git -b master
2. Start a new geonode project: `
django-admin startproject --templat

[2019-05-29 15:26] afabiani commented on #74
This commit https://github.com/GeoNode/geonode-project/commit/d6a7d150862f0a29ccf9b6fc332f4b814dd5a70e should fix the issue

[2019-06-13 23:00] francbartoli commented on #45
Fixed by #75

[2019-06-13 23:00] #45 closed, assigned to nobody

[2019-06-13 23:03] francbartoli opened #76 "Deployment is broken for DOCKER_ENV=development"
It is a regression caused by the refactor of `entrypoint.sh`

[2019-06-16 19:07] t-book opened #77 "Migration error people_profile__old on pip install -r"
when running `pip install -r requirements.txt` on a vanilla geonode-project following error is thrown:

[code]

[2019-06-16 19:10] t-book opened #78 "Session expires immediately after login"
On a vanilla project. After login, the admin user is logged-out the same second.

![Bildschirmfoto 2019-06-16 um 21 10 06](https://user-images.githubusercontent.com/20478652/59568448-22c19580-907b-11e9-8418-081afddcb024.png)

[2019-06-16 19:21] t-book commented on #78
This was connected to https://github.com/GeoNode/geonode-project/issues/77
paver sync did not load the fixture. hence the geoserver app did not exist and oauth2 could not work

[2019-06-16 19:21] #78 closed, assigned to nobody

[2019-06-16 19:47] t-book commented on #77
So this is a bug with sqlite: https://code.djangoproject.com/ticket/29182
This is what I did on MacOS Mojave to downgrade sqlite:
[code]
which makes sync working again.

[2019-06-17 20:21] ghost opened #79 "Docker build fails, when being connected to a VPN"
When I'm connected to the VPN of my company, docker-compose up --build fails with following errors:
[code]
Searching the internet I found following fix for that. Creating the file 99fixbadproxy and add the three lines to it.

[code]

I couldn't find any explanation of these lines, so I'm sure if this is good practice.

If somebody can confirm, that this is nothing to worry about, I would create I

[2019-06-17 20:32] frafra commented on #79
Your company is keeping a copy of the packages; those commands are used to avoid using the cache.
Use that commands for the moment as workaround.

[2019-06-28 17:29] amefad commented on #72
On the same step (using 2.8 branch) I get a few more messages:

ERROR: django-haystack 2.8.0 has requirement Django>=1.11, but you'll have django 1.8.19 which is incompatible.
ERROR: django-oauth-toolkit 0.12.0 has requirement oauthlib==2.0.1, but you'll have oauthlib 2.0.6 which is incompatible.
ERROR: pycsw 2.0.3 has requirement lxml==3.6.2, but you'll have lxml 3.8.0 which is incompatible.
ERRO

[2019-07-02 08:30] amefad opened #82 "Dockerfile expression to get correct pygdal version fails"
Using 2.8 branch docker-compose build fails when unable to correctly assign the $PYGDAL_VERSION variable The expression:

PYGDAL_VERSION="$(pip install pygdal==$GDAL_VERSION 2>&1 | grep -oP '(?<=: )(.*)(?=\))' | grep -oh $GDAL_VERSION\.[0-9])"

on line 38 returns 2 lines.

Solution:
Append " | tail -1 " to the expression to return only one line.

[2019-07-09 18:40] indeOWS opened #84 "GeoNode UpdateLayers"
I am running GeoNode-Project Master installed via Docker and I am facing an issue while updating GeoNode layers (python manage.py updatelayers -w geonode -f cbge_trecho_arruamento) the response is in [1]:

Looking at GeoNode tree, I found updalayers.py file, but I could not find it under GeoNode-Project Master tree
https://github.com/GeoNode/geonode/blob/master/geonode/geoserver/management/command

[2019-07-09 20:10] t-book commented on #84
@juliermegeotube have you tried to run the migrations first?
[code]
https://docs.djangoproject.com/en/2.2/topics/migrations/

[2019-07-10 21:04] indeOWS commented on #84
Thank you for reply @t-book. After running python manage.py migrate, I was asked by the system to create a superuser account (createsuperuser). I did so. After creating the superuser account, i am facing the following issue:
nspecting the available layers in GeoServer ...
Found 1 layers, starting processing
/usr/local/lib/python2.7/site-packages/owslib/iso.py:117: FutureWarning: the .identificatio

[2019-07-11 08:00] dpadron opened #86 "Error Install Geonode 2.10"
Ubuntu 16.04

Error:
pkg_resources.ContextualVersionConflict: (idna 2.8 (/usr/local/lib/python2.7/site-packages), Requirement.parse('idna<2.7,>=2.5'), set(['django-mapstore-adapter']))

[2019-07-11 09:23] #86 closed, assigned to nobody

[2019-07-11 11:03] fpennica opened #88 ""CommandError: No fixture named 'initial_data' found" during build"
Hello,
when building the image in a fresh new geonode-project with `docker-compose -f docker-compose.yml -f docker-compose.override.yml build --no-cache`:

[code]

I tried changing in `tasks.py` the line:

`ctx.run("python manage.py loaddata /usr/src/geonode/geonode/base/fixtures/initial_data.json \`

in:

`ctx.run("python manage.py loaddata initial_data.json \`

and it works, but I don't know if

[2019-07-11 12:35] fpennica commented on #88
I'm sorry, the error is not in the build process, but when executing:

`docker-compose -f docker-compose.yml -f docker-compose.override.yml up`

[2019-07-11 16:11] indeOWS commented on #84
@t-book, I forgot to mention that I am running GeoNode-Project on a CentOS7 machine. This could be an issue. I picked all the geonode required packages from an old tutorial, mainly those related to geonode required packages on Ubuntu.
sudo yum groupinstall 'Development Tools'
sudo yum install -y man vim openssh-clients zip unzip wget
sudo yum install -y gdal-python gdal gdal-devel
sudo yum install

[2019-07-11 16:14] indeOWS commented on #84
@t-book I am installing geonode-project (Docker) on an Unbuntu machine according to the tutorial in here http://docs.geonode.org/en/master/install/project/index.html#packages-installation. If the updatelayers issue does not show up, I will conclude that the problem is related to centOS7.

[2019-07-11 17:35] rli-rms commented on #88
I got exactly the same error today:
![no fixuture](https://user-images.githubusercontent.com/45500815/61072182-9d09df00-a3c7-11e9-8c16-0ad84a089974.PNG)

[2019-07-12 14:04] dpadron opened #89 "Warning docker install 2.10"
![image](https://user-images.githubusercontent.com/7094961/61133864-8e522380-a4be-11e9-8cb3-79218b9e3ea7.png)

[2019-07-20 17:12] francbartoli commented on #82
Closed by https://github.com/GeoNode/geonode-project/commit/26236acbd6af4f487a714e4a96e0016c5b652d3e

[2019-07-20 17:12] #82 closed, assigned to nobody

[2019-07-20 17:16] francbartoli commented on #31
Closed by https://github.com/GeoNode/geonode-project/commit/26236acbd6af4f487a714e4a96e0016c5b652d3e

[2019-07-20 17:16] #31 closed, assigned to nobody

[2019-07-20 17:19] francbartoli commented on #88
Closed by https://github.com/GeoNode/geonode-project/commit/b25aba95d8966f757430a2ddd0c34d2e7698df00

[2019-07-20 17:19] #88 closed, assigned to nobody

[2019-07-24 10:14] dpadron opened #93 "Connection refused"
Good day

I am trying to install the Geonode 2.10 project follow these steps:

1.- git clone https://github.com/GeoNode/geonode-project.git

2.- mkvirtualenv my_geonode
pip install Django == 1.11.21

3.- django-admin startproject --template =. / Geonode-project -e py, rst, json, yml, ini, env, sample -n Dockerfile my_geonode

4.- cd my_geonode

5.- Edit wsgi.py to use local_setting.py
os.environ.s

[2019-07-24 10:41] ppasq commented on #93
For support you should ask the list: geonode-users@lists.osgeo.org
However if your installation is based on Docker the database host is 'db' and not 'localhost' anymore. So you must edit your settings accordingly.
Closing this. For further support pls ask the list. Thanks.

[2019-07-24 10:41] #93 closed, assigned to nobody

[2019-07-27 18:54] dpadron opened #94 "CreateLayer function"
Hi good day
Note that the crealayer function is not available in this version of geonode-project. Should we wait for an update? or can be activated

![image](https://user-images.githubusercontent.com/7094961/61998453-ade96e80-b0b0-11e9-8723-a7bd8b8ce324.png)

[2019-07-27 20:36] t-book commented on #94
Hi @dpadron have you tried to add the following to your local_settings.py

# Settings for CREATE_LAYER plugin
[code]

Further, in case you have overwritten base.html within your project be sure that you have the following present:

https://github.com/GeoNode/geonode/blob/68ed462b202bf38ba06783661a13d274f8aea2a2/geonode/templates/base.html#L236-L238

[2019-07-30 20:35] rli-rms opened #95 "Login failed in dev mode"
## Expected Behavior
After building a new Geonode instance from scratch in development mode, use the admin credential  `admin` & `admin` to log in, the login should be successful.

Create some other accounts (either superuser or user) then try to log in with them. The logins should also be successful.

## Actual Behavior
1. `admin` account cannot be found, therefore login was failed.
![image](http

[2019-08-03 17:55] t-book commented on #95
ref.: https://github.com/GeoNode/geonode/issues/4719

[2019-08-03 18:50] t-book commented on #95
@rli-rms see: https://github.com/GeoNode/geonode-project/issues/78

[2019-09-05 14:15] steckowski opened #96 "impossible dependencies in requirements.txt"
geonode 2.10.1 has requirements **six<1.11.0** and parse-type==0.5.2 BUT parse-type 0.5.2 has requirement **six>=1.11**
this leads to an error when running `pip install -r requirements.txt --upgrade --no-cache --no-cache-dir`
tested with master branch (1ec49d46c81d395854859ab94fa0bdd26f7a163b)

[2019-09-05 14:42] #96 closed, assigned to nobody

[2019-09-05 14:43] steckowski commented on #96
issue appeared with geonode core not geonode project, so was wrong here

[2019-09-16 13:15] dubst3pp4 opened #97 "django container crashes: missing dependency elasticsearch"
Hello,
I'm new to GeoNode development and just followed [your instructions](http://docs.geonode.org/en/2.10.x/install/project/index.html#docker) to build docker containers to run a development version of GeoNode. Unfortunately the _django_ and _celery_ containers constantly crash because of a missing elasticsearch dependency:

[code]
I've build the images with

`docker-compose -f docker-compose.de

[2019-09-16 14:20] afabiani commented on #97
Hi, just remove any container from `docker-compose.development.yml` or `docker-compose.development.override.yml` which is not listed on `docker-compose.yml`

However, this is a bug indeed. The overrides must be fixed.

[2019-09-23 17:48] tomaslink commented on #77
I'm having this problem. Downgrading sqlite to 3.25 does not solve it for me.

[2019-09-25 12:39] t-book commented on #77
@tomasjuanlink
please try to :

1) delete old development.db
2) $ brew unlink sqlite
3) $ brew install --force https://raw.githubusercontent.com/Homebrew/homebrew-core/bc7324ff6b2c5e6490b91f39e15a04241e6cf3c1/Formula/sqlite.rb
4) $ brew link sqlite

[2019-10-02 23:01] dpadron opened #98 "Error trying to upload a layer"
The installed geonode-project in ubuntu 18.04 + docker and this error is generated

![image](https://user-images.githubusercontent.com/7094961/66087823-1ead7b00-e579-11e9-8dba-8cf0402e3c9b.png)

[2019-10-02 23:09] dpadron commented on #98
Sorry, it's already solved, problems with cookies

[2019-10-03 08:40] #98 closed, assigned to nobody

[2019-10-03 10:28] dpadron opened #99 "An error message in Ubuntu 18.04 using install mode Docker"
An error message in Ubuntu 18.04

![image](https://user-images.githubusercontent.com/7094961/66119512-0d945680-e5d9-11e9-9916-9b5d8bd435f9.png)

[2019-10-16 08:40] afabiani opened #100 "Avoid running docker images as root"

[2019-10-22 16:44] #72 closed, assigned to nobody

[2019-11-17 14:09] t-book opened #102 "Update certbot for ACME2"
Acme1 has reached eol. Hence issuing some certificat will fails. See: https://github.com/GeoNode/geonode/issues/5260

we should update certbot to use ACME2 protocol and endpoint

[2019-11-18 08:19] #102 closed, assigned to nobody

[2019-12-02 10:16] ghost opened #104 "unary operator exception when "FORCE_REINIT" not set"
When Environment variable "FORCE_REINIT" is not set, the following error appears in the logs of the django docker container.
[code]
Adding `"` to the if clause of entrypoint.sh in line 46 will fix it:
[code]

Setup: GeoNode-Project 2.10.1, Docker

[2019-12-11 10:02] neroznik commented on #95
After installing geonode via Docker, I have same problem.
I am beginner in Geonode as well as in Linux.
For installing geonode 2.10 I use manual from geonode web site.   [http://docs.geonode.org/en/2.10.x/install/core/index.html#docker](url)
Could you please describe how to solve it with more detail explanation. Thank you advance

[2020-01-03 14:43] leohoy opened #105 "error when running requirements.txt"
I am following this tutorial http://docs.geonode.org/en/2.10.x/install/project/index.html#geonode-project-installation

I get an error when I paste this with sudo: `pip install -r requirements.txt --upgrade --no-cache --no-cache-dir`

ERROR: my-geonode 2.10.1 has requirement coverage==5.0.1, but you'll have coverage 4.5.4 which is incompatible.
ERROR: my-geonode 2.10.1 has requirement django-leafl

[2020-01-03 16:40] t-book commented on #105
It looks you somehow mixed up branches. In case you like to install geonode-project branch 2.10.1 geonode core 2.10.1 will be installed. https://github.com/GeoNode/geonode-project/blob/2.10.1/requirements.txt#L4 this installs f.e. celery 4.2.1 https://github.com/GeoNode/geonode/blob/2.10.1/requirements.txt#L19

However. In case geonode-core master branch  branch is installed it will end with celer

[2020-01-03 16:56] leohoy commented on #105
so how would I edit my requirements.txt in this case? right now I have it in the default:
[code]

[2020-01-03 16:59] t-book commented on #105
ok this looks fine. Let me test it to be sure nothing is wrong with geonode-project <> geonode core

[2020-01-03 17:16] t-book commented on #105
@leohoy just tested. The setup worked for me. This is what I did. Can you test it?

[code]

[2020-01-03 17:17] t-book commented on #105
( after that you should see geonode at localhost:8000 )

[2020-01-03 17:51] leohoy commented on #105
worked! The difference was that before I wasnt able to use the commands without sudo... now with deploying it in the tmp directory, it worked perfectly.

[2020-01-03 17:51] #105 closed, assigned to nobody

[2020-01-03 18:08] t-book commented on #105
@leohoy great to hear. But /tmp is  not the right place for installation ;) (Just used it for a quick test, some systems delete it on boot!) You should check the permissions of your users and the path where you trying to install.

[2020-01-25 19:15] dpadron opened #106 "Cannot build GeoServer Docker image (was: "Error Install geonode-project")"
Ubuntu 18.04

[code]

[2020-01-27 16:22] giohappy opened #107 "replace urlparse and print calls inside tasks.py"
The transition to Python 3 still requires some fixes...
https://github.com/GeoNode/geonode-project/blob/master/tasks.py#L11

[2020-01-27 16:49] giohappy opened #108 "Dockerfile has references to python 2.7"
https://github.com/GeoNode/geonode-project/blob/master/Dockerfile#L48

[2020-01-28 09:12] #107 closed, assigned to afabiani

[2020-01-28 09:43] frafra commented on #106
Failing command:
https://github.com/GeoNode/geonode-project/blob/a78c42d884f0e54107ae08110c1a0ce8fb984d28/docker/geoserver/Dockerfile#L84-L86

[2020-01-28 11:07] #106 closed, assigned to frafra

[2020-01-28 11:53] frafra opened #112 "geonode docker-compose.yml is not valid"
`docker-compose` cannot use `docker/geoserver/docker-compose.yml` because a `volumes` section is empty.

https://github.com/GeoNode/geonode-project/blob/026331b44fc89668603fb8d9b68eb6aa714cdacb/docker/geoserver/docker-compose.yml#L17-L18

I would suggest to use `geoserver_data_dir` as volume.

[2020-02-03 12:07] dpadron opened #114 "Error installing Geonode-Project"
S.O: Ubuntu Server 18.04

The following error is generated in the installation process:

ERROR: django-geonode-mapstore-client 2.0.0rc1 has requirement django-mapstore-adapter>=2.0.0, but you'll have django-mapstore-adapter 2.0.0rc2 which is incompatible.
ERROR: geonode 3.0.dev1580725037 has requirement setuptools==45.0.0, but you'll have setuptools 45.1.0 which is incompatible.

[2020-02-03 13:07] #112 closed, assigned to afabiani

[2020-02-03 13:09] #108 closed, assigned to afabiani

[2020-02-06 09:59] dpadron opened #115 "Error Install Geonode-Project"
---> Running in 3bf8196adb5b
fetch http://dl-cdn.alpinelinux.org/alpine/v3.8/main/x86_64/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.8/community/x86_64/APKINDEX.tar.gz
WARNING: Ignoring http://dl-cdn.alpinelinux.org/alpine/v3.8/main/x86_64/APKINDEX.tar.gz: temporary error (try again later)
  certbot (missing):
    required by: world[certbot]
  py-pip (missing):
    required by: w

[2020-02-06 10:08] t-book commented on #115
ref.: https://github.com/GeoNode/geonode/issues/5260

[2020-02-07 09:30] dpadron commented on #115
Solved, thank you

[2020-02-07 09:31] #115 closed, assigned to nobody

[2020-02-07 09:32] #94 closed, assigned to nobody

[2020-02-07 09:33] #89 closed, assigned to nobody

[2020-02-07 09:33] #99 closed, assigned to nobody

[2020-02-08 19:17] #114 closed, assigned to nobody

[2020-02-16 03:59] antt opened #117 "Run geonode-project on ubuntu 18.04"
I have error /usr/bin/geonode: line 14: django-admin.py: command not found when run sudo PYTHONWARNINGS=ignore VIRTUAL_ENV=$VIRTUAL_ENV DJANGO_SETTINGS_MODULE=my_geonode.local_settings GEONODE_ETC=/opt/geonode_custom/my_geonode GEOSERVER_DATA_DIR=/opt/data/geoserver_data TOMCAT_SERVICE="service tomcat" APACHE_SERVICE="service nginx" geonode_updateip -p xxx

[2020-02-16 09:17] frafra commented on #117
It looks like Django is not installed, or it is not available system-wide.

[2020-02-16 09:23] t-book commented on #117
... or you forgot to copy the command `sudo cp package/support/geonode.updateip /usr/bin/geonode_updateip` ?

[2020-02-16 09:28] frafra commented on #117
Oh, yes, that is it. I was confused by the fact that it is not clear what is a descriptive text from the user and what is the actual error :)

[2020-02-21 05:47] anjogu commented on #95
After setting up GeoNode 2.10.x in ubuntu 18.04.3 and running it in development mode, I created an admin user with admin as the password. After using these credentials to log in the session Expires immediately as shown below. Does anyone know how can I solve this?
![sessionExpired](https://user-images.githubusercontent.com/30499063/75007664-e1de1400-5486-11ea-94ed-dc7295ee70dd.png)

[2020-02-21 07:13] t-book commented on #95
@anjogu most likely your paver sync did not finish successfully and did not install the fixture for oauth2. try to repeat this step and double-check your oauth2 config on both sides (geonode && geoserver)

[2020-02-28 04:52] antt commented on #117
I made copy file geonode.updateip anh geonode to /urs/bin

[2020-03-02 05:10] #117 closed, assigned to nobody

[2020-04-21 12:57] anjogu commented on #95
@t-book Thank you it worked

[2020-05-02 09:53] MoRadwan74 opened #125 "site_index.html is not working"
I've installed GeoNode project 2.10.x using with [GeoNode project installation guide][1]. And walk through the [GeoNode theming, Templates, and Static files][2].

Knowing that `site_index.html` is the template used to define GeoNode project’s homepage, I tried to edit it with the example provided in the docs with no luck of overriding the available code at the GeoNode's `index.html`.

Is there any

[2020-05-02 23:08] ddovnar commented on #125
I have similar problem. There is a urls.py module doesn't load, that's why changes are not apply in the index.html

[2020-05-02 23:33] MoRadwan74 commented on #125
@ddovnar what module?

[2020-05-03 06:51] ddovnar commented on #125
your_project/urls.py. In this module, loading project site_index.html template, but if we comment all module contents, app still working. Because app using core urls.py module

[2020-05-03 07:20] MoRadwan74 commented on #125
Anyway, It should use both urls.py modules(core and project) but you're right. I think the issue is at this file, can't figure it out though.

[2020-05-03 07:29] t-book commented on #125
Stupid question but have you respected Django tags in your changes? like {% block hero %} ...
URLs are overridden here: https://github.com/GeoNode/geonode-project/blob/master/project_name/settings.py#L62 this is where I would start in other words which settings are in use and which file succeeds on setting variables.

[2020-05-03 07:44] MoRadwan74 commented on #125
Solved!! .. I'm using local_settings.py so when I added these lines to it, it worked and now my `site_index.html` is working. I thought `local_settings.py` inherits from 'settings.py' so I don't need to add the URL mapping part.

Anyway, thank you @t-book, and please accept this silly mistake.

[2020-05-03 17:22] ddovnar opened #126 "Override document_detail.html template"
I'm trying to override template "document_detail.html". Why this tag is unavailable in my geonode-project?
Error:
**TemplateSyntaxError at /documents/1**
[code]

[2020-05-03 17:30] ddovnar commented on #126
There is module 'pinax-ratings==3.0.3' was not installed.

[2020-05-03 17:31] ddovnar commented on #126
But after install module, I've got another error:
**ERRORS:**
[code]

[2020-05-04 09:27] ddovnar commented on #126
In version 2.10.x no need module "pinax-ratings". Problem solved by removing it, and use correct document_detail.html template for version 2.10.x

[2020-05-04 09:27] #126 closed, assigned to nobody

[2020-05-04 12:27] t-book commented on #125
you're welcome @MoRadwan74

[2020-05-06 07:22] #125 closed, assigned to nobody

[2020-05-30 06:31] t-book opened #132 "updateadmin tasks should only run on first start"
From my understanding:
https://github.com/GeoNode/geonode-project/blob/master/entrypoint.sh#L61
should only run on initial start.

For completes this error from the fixture keeps looping the django container on startup

`db4dai_geonode   | 2020-06-02 08:49:18.924 UTC [48] STATEMENT:  INSERT INTO "people_profile" ("id", "password", "last_login", "is_superuser", "username", "first_name", "last_name"

[2020-05-31 06:37] iamtekson opened #134 "Could not get the result of WFS request"
I uploaded some required data into GeoNode. Now I can fetch the data using GeoServer WMS request. But when I tried to get the data using WFS request, it shows the following error,

[code]

I think this error arise due to not enabling the `jsonp` in GeoServer. I know it can be enabled by uncommenting following line of code in `/tomcat/webapps/geoserver/WEB-INF/web.xml` file,

[code]

[2020-05-31 19:02] afabiani commented on #132
@t-book yes makes sense.
The problem is that if you change the admin and geoserver admin passwords or the oauth2 keys on .env, you will need to force reinit at least.

[2020-05-31 22:01] t-book commented on #132
@afabiani  I see. updateadmin also takes care of resetting the password:
`_prepare_admin_fixture(os.environ.get('ADMIN_PASSWORD',`

. In that case, maybe it would be conceivable to separate the initial admin fixture creation and the admin step?

(Background: I've migrated a 2.8 db to docker gn3 but got a key error as the admin already existed. Running updateadmin only on init fixed it)

[2020-06-01 08:21] afabiani commented on #132
@t-book yes, it could be an improvement.

However, for the time being, I guess your proposal is better. I'm going to accept your PR. Up to you to merge it or not.
The commit should be ported to 3.0 and 3.x branches also imho.

[2020-06-01 08:28] t-book commented on #132
thanks @afabiani After your first comment I saw that updateadmin does more than an initial commit. I think we should not merge my current PR, I will try to come up with a better solution as soon as there is time. Thanks for your review!

[2020-06-01 08:39] t-book commented on #132
in addition

this is what I would suggest wit a new PR.

[2020-06-01 08:43] afabiani commented on #132
yup, sounds good.

[2020-06-01 14:27] t-book commented on #132
@afabiani  a second look ... From what I understand updateadmin() should care for both, create and update the admin profile?

If this is correct I think we do not need it for creating the profile as this should already be covered by [sample_admin fixture ](https://github.com/GeoNode/geonode-project/blob/master/entrypoint.sh#L46).

---

For preventing the key_error if the profile already exists we

[2020-06-02 09:10] t-book commented on #132
Unfortunately my suggested fix does not fully solve this issue as still, the fixture could run:
https://github.com/GeoNode/geonode-project/blob/master/entrypoint.sh#L46

I think this is the case as after a migration the lockfile does exists and the if statement which checks by or gets true. I do have to check what's the purpose of the lockfile.

[2020-06-13 08:20] tsega opened #137 "Docker installation question"
Is the [docker installation instruction](https://github.com/GeoNode/geonode-project#start-your-server-using-docker) in the project README correct? It has the exact same instructions as setting the project up with [Python Virtual Environment](https://github.com/GeoNode/geonode-project#using-a-python-virtual-environment).

I believe the following lines need to be removed from the **Prepare the envir

[2020-06-17 08:23] fpennica opened #138 "geonode-project 3.0 site_index template error"
Hello, this seems too much an obvious issue, so I must be doing something terribly wrong...

This is what I do:

[code]

Opening `localhost` in the browser I get:

![Screenshot-20200617101223-969x367](https://user-images.githubusercontent.com/14745333/84873212-32572e00-b083-11ea-89da-eb6e9b325602.png)

Setting `DEBUG=True` in `.env`:

![Screenshot-20200617100225-1025x736](https://user-images.githu

[2020-06-17 08:45] afabiani commented on #138
@fpennica you are right, "template_trans" template tag is available on 3.x only.

Will remove it.

[2020-06-17 10:07] fpennica commented on #138
Ok, thanks, there is still a `template_trans` in line 10: https://github.com/GeoNode/geonode-project/blob/ed157dbe16c409b2202ebc3ab91c96906bc2acc8/project_name/templates/site_index.html#L10

[2020-06-17 10:12] afabiani commented on #138
I removed it too, thanks!

[2020-06-17 11:06] fpennica commented on #137
When choosing a docker installation you still need a Django environment to generate (with `django-admin startproject`) the new project based on the geonode-project template, that's what the virtualenv is for, if I understand correctly.

[2020-06-17 12:29] afabiani commented on #137
Correct

[2020-06-17 12:33] t-book commented on #137
🎯

[2020-06-25 13:33] t-book opened #140 "Enable LDAP auth"
Prepare everything for users to nicely use LDAP Auth.

[2020-06-26 01:55] diansaji opened #142 "Error on pulling geonode/letsencrypt on geonode 3.x"
Getting error while trying to install geonode 3.x
ERROR: pull access denied for geonode/letsencrypt, repository does not exist on command
$docker-compose -f docker-compose.yml -f docker-compose.override.yml up -d

the idea was pulling all the docker image before running docker-bulid.sh because of slow internet connection.
the previous try i install directly by following https://docs.geonode.org/en

[2020-06-26 06:43] t-book commented on #142
hi there is no image at dockerhub but it's build from: https://github.com/GeoNode/geonode-project/tree/master/docker/letsencrypt

[2020-06-30 23:27] d3netxer opened #143 "is there a way to debug letsencrypt"
I was able to install GeoNode 3 using the online instructions. I am able to set up my site using my own custom domain. I have changed the domain to use https and in my .env file I have used the 'LETSENCRYPT_MODE=staging' setting. This is working well for me, I only have to bypass the warning in my browser to reach the site.

However, I have tried changing the setting to 'LETSENCRYPT_MODE=productio

[2020-06-30 23:44] d3netxer commented on #143
I am able to view the logs with the following command: 'docker logs mygeonode_letsencrypt_1'

it outputs the following:

-----------------------------------------------------
STARTING LETSENCRYPT ENTRYPOINT ---------------------
Tue Jun 30 23:20:50 UTC 2020

Trying to get PRODUCTION certificate
Saving debug log to /var/log/letsencrypt/letsencrypt.log
Plugins selected: Authenticator webroot, Instal

[2020-06-30 23:44] #143 closed, assigned to nobody

[2020-07-01 02:37] d3netxer commented on #43
did you figure this out @juliermegeotube ?

[2020-07-01 05:39] t-book commented on #143
correct. and volumed to keep it persistent

[2020-07-02 01:11] d3netxer opened #144 "where is base.html?"
In the geonode-project there is a site_base.html file. This file extends 'base.html', but I am having a hard time finding where the base.html file is. I am looking within my host file system as well as within the geonode docker container, but I cannot not find it.

[2020-07-02 01:17] d3netxer commented on #144
oh, I think I found it within the geonode docker container here: /usr/src/geonode/geonode/templates

[2020-07-02 07:38] #144 closed, assigned to nobody

[2020-07-02 07:44] #140 closed, assigned to t-book

[2020-07-02 07:52] t-book opened #145 "Add celery tasks for ldap synchronisation"
**Following should be done:**
- add tasks.py to ldap contrib app which run management commands for keeping users in sync
- add the tasks to beat schedule in geonode project
- add the settings under the ldap conditional block: https://github.com/GeoNode/geonode-project/blob/master/project_name/settings.py#L138

[2020-07-02 07:53] t-book commented on #142
@diansaji I'm closing here as the solution should be clear. Please reopen if needed.

[2020-07-02 07:53] #142 closed, assigned to nobody

[2020-07-02 07:55] #95 closed, assigned to nobody

[2020-07-02 07:56] #30 closed, assigned to nobody

[2020-07-02 07:57] t-book commented on #53
@frafra Is this issue still open or can we close here (->2018) ?

[2020-07-02 07:57] #104 closed, assigned to nobody

[2020-07-02 07:58] t-book commented on #137
@tsega It looks this is clear now. I'm closing here. Please reopen if needed.

[2020-07-02 07:58] #137 closed, assigned to nobody

[2020-07-02 07:59] #77 closed, assigned to nobody

[2020-07-02 07:59] t-book commented on #52
@frafra can we close here?

[2020-07-02 12:35] t-book commented on #145
**Current status:**
---

1. Created tasks for geonode_ldap: https://github.com/csgis/geonode-contribs/blob/ldap_celery_tasks/ldap/geonode_ldap/tasks.py

2. Updated Settings of geonode-project: https://github.com/csgis/geonode-project/commit/d786f698b484bb2a760f1e3d6be51ebffa89b670#diff-4f4c55450c39ce510cb2d3646b9b3301

---

:heavy_check_mark:  Management commands run from shell work fine
:heavy_ch

[2020-07-03 11:08] frafra commented on #52
@t-book I guess so. I do not see it in recent logs.

[2020-07-03 11:10] t-book commented on #52
thanks!

[2020-07-03 11:10] #52 closed, assigned to nobody

[2020-07-03 11:24] frafra commented on #53
@t-book I think it can be closed and reopened again if it still happens.

[2020-07-03 11:40] #53 closed, assigned to nobody

[2020-07-06 06:58] t-book opened #146 "Enable Sitemaps from core"
GeoNode Core Setup already enables sitemap: https://github.com/GeoNode/geonode/blob/b844ac41486b1cffe64d8dc5b6e8c699971b4e16/geonode/urls.py#L80

with geonode project this is endig in a 404.
Sitemaps should be enabled for better seo ranking.

[2020-07-06 07:10] t-book opened #147 "Enable http2 Support for nginx with docker"
HTTP2 the successor of HTTP 1.1 brings advantages in speed as it lifts the limitation of concurrent requests to infinite.

[code]

For a comparison of loading have a look here:
https://imagekit.io/demo/http2-vs-http1?utm_source=blog&utm_medium=blog&utm_campaign=Blog

For further information about HTTP1.1 vs HTTP2 visit:

- https://css-tricks.com/http2-real-world-performance-test-analysis/#:~:text=

[2020-07-06 07:17] giohappy commented on #147
@t-book thanks for the heads up on this topic. I totally agree in pushing this forward.

[2020-07-06 07:41] t-book commented on #147
thanks @giohappy . There is another thing regarding serving content. The static files are currently loaded over the same domain. With HTTP2 we will get rid of the Browser limitation of concurrent requests but still we transport the content over a 'cookie enabled domain'. This is an additional unneeded load. (That's why some projects use a subdomain or different domain for static content)

We could

[2020-07-06 07:48] t-book commented on #138
@fpennica did this solve your issue? Can we close here?

[2020-07-06 07:49] t-book commented on #134
@iamtekson thanks for sharing! Is there something that needs to be considered? Otherwise, we could close here.

[2020-07-06 07:51] t-book commented on #84
hi @juliermegeotube This issue got a bit out of my sight. Sorry! Do you still have problems? Otherwise, we could close. Cheers to Brazil ;) Toni

[2020-07-06 07:52] t-book commented on #68
Good question!

[2020-07-06 07:57] fpennica commented on #138
Yes, this is solved now!

[2020-07-06 07:59] t-book commented on #138
thanks @fpennica

[2020-07-06 07:59] #138 closed, assigned to nobody

[2020-07-06 08:55] iamtekson commented on #134
Can you enable the `jsonp` format for [http://master.demo.geonode.org/](http://master.demo.geonode.org/) site? Actually I want to host some of my shapefile in this site and get the WFS data in `leaflet`.

[code]
I think it is still not enabled.

[2020-07-06 09:14] t-book commented on #134
@iamtekson the master instance is not under my responsibility, so unfortunately I cannot help here. However, I would not suggest at all to host productive files on the test instance as it could be reset and recreated every time ;) It's purpose is to show what geonode can do.

[2020-07-06 09:56] iamtekson commented on #134
Ok, I understand the situation. I already installed the GeoNode in my machine and hosted there. Thank you for the response. Now better to close this issue.

[2020-07-06 09:56] #134 closed, assigned to nobody

[2020-07-06 10:15] frafra commented on #68
Sorry, I lost that issue :)

We have geonode/geonode-docker where the main Dockerfile is stored. geonode/geonode contains a Dockerfile which refers to the Docker image produced by geonode/geonode-docker. I think the same approach can be used here, instead of having a copy.

An alternative approach, which is a more generic solution to avoid copying files around, could be git submodule.

[2020-07-08 12:48] t-book opened #148 "LDAP Var is missing"
The settings is missing the LDAP_ENABLED Var

[2020-07-08 13:17] #148 closed, assigned to nobody

[2020-07-14 07:40] afabiani commented on #145
It's a specific sqlite3 error, I would ignore it. It won't happen using postgresql

[2020-08-19 13:24] koji117 opened #151 "Monitoring API returns no data in a proxy environment"
Monitoring API does not return any data in my environment with proxy.

Sample request is the following:
`http://my_proxy/monitoring/api/metric_data/mem.free/","query":{"service":"my_proxy-hostgeonode","last":"600","interval":"600`

This returns:
`{"data":{"metric":"mem.free","input_valid_from":"2020-08-19T13:03:58.426725Z","input_valid_to":"2020-08-19T13:13:58.426725Z","interval":600,"label":null,

[2020-09-04 07:23] t-book opened #152 "Add support for production environment file"
When starting geonode-project within docker, environment variables are populated from `.env`. In case somebody starts the stack for development and later in production everytime the .env file has to be updated accordingly. This ticket should discuss if the following can be improved (and hence added to the repository).

1) add an empty `.env-production` to the repository (and decide if it will by i

[2020-09-08 10:18] gannebamm commented on #152
I like this and it actually is the way we use docker-compose and .env files for production and development. The open question is how the hardening operations (like encrypted password for GeoServer) will get performed? See SPC with the initialization python files.

[2020-09-08 10:27] t-book commented on #152
Good point Florian, and thanks for your feedback. I'd say yes as all what should happen is that ENVs are overwritten. A look at `docker-compose config` gives more insights which environment is set for every servcei. However, this is definitely worth to check thoroughly

[2020-09-24 06:14] ep3data-admin opened #153 ""Unexpected Error" when trying to upload a layer to geonode and it stuck at PENDING state in Geoserver"
Hello,

I just forked the geonode_project and deployed the geonode-project master branch via using docker.

When I try to upload a layer in zip format to the geonode, on the dashboard it quickly errors out with "Unexpected Error" after clicking the upload file button in the geonode dashboard with admin user privileges.

I am getting these below DEBUG logs in my django4geonode container /var/log/ge

[2020-09-24 07:56] ep3data-admin commented on #153
This was happening because of a leftover configuration in the project/settings.py file which I was not using --no-cache parameter during the builds, when I cleaned up the conf file and build the images with --no-cache this time, it started to work like a charm.

Sorry for the noise.

[2020-09-24 07:56] #153 closed, assigned to nobody

[2020-10-06 09:47] lpasquali opened #154 "change behaviour of Dockerfile and entrypoint.sh to generate geofence-datasource-ovr.properties from env"
proposed modifications will follow in a PR related to this issue, as explained [here](https://github.com/geosolutions-it/support/issues/852#issuecomment-703622776)

[2020-10-13 08:38] gannebamm opened #156 "LDAP contrib app output is not logged"
If `LDAP_ENABLED = True` you would expect it to print logging information. But since it is not part of the LOGGING setup it wont display any. Therefore it should be added to https://github.com/GeoNode/geonode-project/blob/master/project_name/settings.py#L124

[2020-10-13 08:40] gannebamm commented on #156
Since we do not know if the contrib app is used, we have to update the LOGGING information if `LDAP_ENABLED = True` like:

[code]

@t-book @afabiani Are you with me?

EDIT: This is not nice and not DRY. Isn´t there a better way to achieve this?

[2020-10-13 08:59] t-book commented on #156
@gannebamm In general I do agree

Untested but maybe something like this could work.

[code]

[2020-10-14 16:47] gannebamm commented on #156
Closed by https://github.com/GeoNode/documentation/pull/65

[2020-10-14 16:47] #156 closed, assigned to gannebamm

[2020-10-18 17:35] t-book opened #157 "docker-compose build is failing due to proj tests"
`docker-compose build --no-cache` is currently failing for me with following error:

<img width="1305" alt="Bildschirmfoto 2020-10-18 um 18 47 29" src="https://user-images.githubusercontent.com/20478652/96375084-369d7000-1177-11eb-8f09-44820fdba327.png">

This as one of the tests is failing when the deb package is building proj:
https://hastebin.com/fiboxetugo.log

Until now I have no idea what ch

[2020-10-18 18:23] afabiani commented on #157
@t-book unless you have a arm-64 based host, you can safely comment those lines on the Dockerfile

[code]

[2020-10-19 06:43] t-book commented on #157
thanks @afabiani this makes sense. I wonder if we should make this a bit more failsafe. Untested but to show what I mean:

`RUN if [[ $(uname -a) == *arm* ]] && [[ $(getconf LONG_BIT) == 64 ]]; then cd /tmp/proj && debuild -i -us -uc -b && dpkg -i ../*.deb; fi`

Or leave a big warning @ README ?

[2020-10-19 08:01] afabiani commented on #157
@t-book the if looks good, let me test it maybe (unless you already done it)

[2020-10-19 08:11] t-book commented on #157
@afabiani thanks unfortunately I currently do not have an arm processor available for testing. Would be great if you can jump in.

[2020-10-19 14:24] afabiani commented on #157
@t-book we can probably remove this from master branch and leave it only on **master-arm64** "https://github.com/GeoNode/geonode-project/tree/master-arm64" one

[2020-10-19 14:30] t-book commented on #157
@afabiani This sounds good to me +1

[2020-10-19 15:45] afabiani commented on #157
Done

[2020-10-21 10:45] deepank885 opened #158 "Password authentication failed for user"
Encountered db4 FATAL error password authentication failed for user, Role " " does not exist, while running docker-compose up

[2020-10-22 18:34] #157 closed, assigned to nobody

[2020-10-26 17:01] evincentoieau opened #159 "After install can't access geonode url "502 bad gateway""
Hi
I tried for several days to install and run geonode but I Can't.
I follow the doc here https://github.com/GeoNode/geonode-project using tha part "Start your server using Docker"
I use python 3.8 on a centos 8
The install is ok, no error, but the http://localhost return "502 bad gateway"
http://localhost/geoserver/ works, I see the home page of geoserver
When I look in the container's log, I see

[2020-10-26 17:29] t-book commented on #159
Currently there is a known problem with master branch making migrations fail. Until this is fixed please try 3.0 (latest stable) branch.

[2020-10-26 17:31] t-book commented on #159
ping @gannebamm see this is the strange thing a fresh start should use the correct conn string :japanese_ogre:

[2020-10-26 21:16] afabiani commented on #159
@evincentoieau please follow the docs [here](https://docs.geonode.org/en/3.x/install/basic/index.html) You can find there more detailed explanation and some troubleshooting

@t-book whenever you have issues with migrations, use the branch 3.x which does not include the spatialdata PR yet

[2020-10-26 21:18] t-book commented on #159
@afabiani I know and can confirm with 3.x. But I'm  trying to help solving the issue with master (had a chat at gitter with @gannebamm ) ;)

[2020-10-27 14:00] st-rom opened #160 "https://build.geo-solutions.it/geonode/geoserver/latest/geoserver-2.17.2.war Not Available"
I've made some changes in minor .env file and after rebuilding project website stopped working `502 Bad Gateway`. When I tried to rebuild the project I confronted the problem with https://build.geo-solutions.it/geonode/geoserver/latest/geoserver-2.17.2.war being not available. My guess is that this is what caused an error but I'm not sure. Broken link is called from here https://github.com/GeoNode

[2020-10-28 06:27] #158 closed, assigned to nobody

[2020-10-28 11:03] evincentoieau commented on #159
Thanks

Thanks I will retry with git clone https://github.com/GeoNode/geonode-project.git -b 3.0

[2020-10-28 11:30] evincentoieau commented on #160
My install is blocked too at the same point, https://build.geo-solutions.it/ is down. I think we have to wait to be up again.

[2020-10-28 11:54] gannebamm commented on #160
See also: https://github.com/GeoNode/geonode/issues/6587

The build server is currently down. The responsibles are already informed.

[2020-10-28 14:58] afabiani commented on #160
You can temporarily use dropbox, see the needed changes

 - GeoNode [here](https://github.com/GeoNode/geonode/commit/7b970f847dceb33eb0ba562e15330d85648a47d4)

 - GeoNode Project [here](https://github.com/GeoNode/geonode-project/commit/19192302a0a8ed9adc2eb6b2a33bfbbbf12ee333)

[2020-10-29 08:37] evincentoieau commented on #160
It's up now

[2020-10-29 08:49] #160 closed, assigned to nobody

[2020-10-29 11:12] evincentoieau commented on #159
Ok I retry  with git clone https://github.com/GeoNode/geonode-project.git -b 3.0 and the doc on https://github.com/GeoNode/geonode-project --> still not work

I use the doc on your link https://docs.geonode.org/en/3.x/install/basic/index.html and the branche 3.x and it works. On my centos 8 some lib are not found in the "Packages Installation" part
I use:
yum -y install epel-release
        ok

[2020-10-29 11:12] #159 closed, assigned to nobody

[2020-11-06 16:53] t-book opened #161 "3.X branch fails to build"
In preparation for 3.1 release following error occurs on 3.X branch docker:

db4my_geonode    | 2020-11-06 16:48:42.672 UTC [124] ERROR:  permission denied to create extension "postgis"
db4my_geonode    | 2020-11-06 16:48:42.672 UTC [124] HINT:  Must be superuser to create this extension.
db4my_geonode    | 2020-11-06 16:48:42.672 UTC [124] STATEMENT:  CREATE EXTENSION IF NOT EXISTS postgis

[2020-11-06 16:57] t-book commented on #161
https://github.com/GeoNode/postgis-docker/blob/master/initdb-geonode.sh#L38

[2020-11-06 17:01] afabiani commented on #161
@t-book try to put those vars into .env

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

[2020-11-06 17:04] t-book commented on #161
Good shot @afabiani but unfortunately those vars are already present in 3.x https://github.com/GeoNode/geonode-project/blob/3.x/.env#L42-L43

[2020-11-06 17:06] afabiani commented on #161
uhm, strange. We might revert to postgis:10 in the worst case

but let me take a look.

[2020-11-06 17:07] t-book commented on #161
… and set as config shows:

[code]
anyway … will check where it fails …

[2020-11-06 17:07] t-book commented on #161
Yep that's what I thought as well :/

[2020-11-06 17:27] t-book commented on #161
I've just delete all old volumes to be sure nothing comes from there …

[2020-11-06 19:07] t-book commented on #161
requirements accidentally pulled from master. 3.x core is working.

Error for master remains. But I will do more testing and open a separate issue for it.

[2020-11-06 19:07] #161 closed, assigned to nobody

[2020-12-10 06:27] irlandfardani opened #163 "Error when identify atribut from geoserver services layers (container) in geonode"
I install geonode/geoserver via docker, i already add the layers in
geoserver (that in docker/container) from postgis data, but when I want to
view it in geonode, when i want to identify that attribut of the layers,
it`s appear error like this.

http://localhost/static/mapstore/dist/ms2-geonode-api.js

[error](http://osgeo-org.1560.x6.nabble.com/file/t387250/geonode2.png)
but when i add the servic

[2020-12-11 09:22] koji117 opened #164 "Could not find a version that satisfies the requirement django-geonode-mapstore-client>=2.0.10 (from geonode)"
I get this error when I build a docker image for django.

[code]
The recent change in the following file in geonode seems to cause this issue.
https://github.com/GeoNode/geonode/blob/master/setup.cfg

[2020-12-30 06:14] d3netxer opened #166 "backup and restore is not working for me"
I am trying to follow the instructions in the ReadMe, but I am getting an error. The backup seems to be working, but the restore is giving me the following error:

[code]

[2021-02-04 10:38] iamtekson commented on #95
I am using the latest version of geonode from the master branch. I am facing the same issue. I already tried following command,

[code]

[code]
But didn't resolve. Can you help me @t-book please?

[2021-02-04 10:44] iamtekson commented on #95
PS: I tried to restore the old geonode using this command

[code]
I am also unable to restore. It shows the error message as

[code]

[2021-02-04 10:46] iamtekson commented on #95
How to check the oauth2 config on both sides (geonode && geoserver)

[2021-02-04 11:41] iamtekson commented on #95
I just solve the issue by `paver reset_hard`. And follow the suggestion as mentioned above `paver sync`. Thank you

[2021-02-14 01:56] mahershala2k18 commented on #164
I'm tryin to instal geonode on a Windows machine. I'm getting  same erros.
![Capture3](https://user-images.githubusercontent.com/58297184/107866359-a64b0f80-6e78-11eb-912b-c5b202ed5698.PNG)

[2021-02-16 14:54] mahershala2k18 commented on #164
where can i find these versions?  django-geonode-mapstore-client>=2.0.10

[2021-02-16 14:56] afabiani commented on #164
they are not available yet, in order to fix the issue just run first:

`pip install -r geonode\requirements.txt`

[2021-02-19 01:34] mahershala2k18 commented on #164
many thanks, this step has passed, it did work.
but now I'm facing another issue.
when a run: pip install -e geonode, I get the following error
* uwsgi_os = os.uname()[0]*
*    AttributeError: module 'os' has no attribute 'uname'*

I did some workaround, tried to change [os] into [platform]  in  popbes.py
file,
still not solved.

in this email, I attached a picture of the error I'm facing now.

On

[2021-02-19 01:40] mahershala2k18 commented on #164
![delete](https://user-images.githubusercontent.com/58297184/108444922-3071ea00-7264-11eb-97c9-9b6074cd767f.PNG)

[2021-02-19 11:49] Darkonyks opened #167 "PostgreSQL database my_geonode changing password"
I have docker installation of GeoNode with all defaults: my_geonode, my_geonode_data etc. Now I'm truing to change default password for user my_geonode in PostgreSQL and i did. Also I have change in .env file to new password

_GEONODE_DATABASE=my_geonode
GEONODE_DATABASE_PASSWORD="my new password"_

I' m not sure if this is an issue but after changing password geonode is not able to start:

_psql:

[2021-03-02 20:32] vijdz commented on #167
I saw your question on gis.stackexchange and answered it. Here is probably not the right place to ask this, I mean not a real issue =)

[2021-03-03 07:13] Darkonyks commented on #167
Thank you for your answer, this was very helpful. Because this is not a real issue I will close it.

[2021-03-03 07:19] t-book commented on #167
Hi @vidlb head over to https://gitter.im/GeoNode/general This is where most devs mingle ;)

[2021-03-03 07:25] t-book commented on #167
... and to your question try something like:

untested but try to alter the password directly in your db and set matching in .env

[code]

(replace capital words with correct information). repeat the same for geonode_data database.

[2021-03-03 11:28] Darkonyks commented on #167
Thank you for suggestion's I had tried but had no luck.
[code]

Next to do is to create my own Dockerfile and container as @vidlb suggested on https://gis.stackexchange.com/questions/387821/geonode-postgresql-default-password/388819#388819

[2021-03-03 11:34] t-book commented on #167
Sorry but I think this is overkill.
What is invoke.log telling you?

Why not do it like this.
- Change your passwords in .env back as they're set in postgres.
- restart your stack and see if django goes up again.
- use psql to reset your password @ postgres
- change credentials in .env
- restart your stack

Note 1: Don't forget that you can just start the db service to update passwords
note 2. Don

[2021-03-03 12:20] Darkonyks commented on #167
OK. So what I have done:
Return all to defaults: invoke.log
[code]
Everything is up and running!

[code]
Than I have run
[code]
.env file in project folder contains only:
[code]
... but I have change all .env files in /opt/geonode/scripts/docker/env/production

db.env:
[code]
django.env:
[code]
Than I hit docker-compose up -d --build django
[code]
After that: tail -F -n 300 invoke.log
[code]
... e

[2021-03-03 16:18] vijdz commented on #167
@t-book Thanks for the suggestion, I certainly will !
I'm not contributing to Geonode for now but I'd like to in the near future !
I just started my own geonode-project development and I saw some minor bugs, I will open an issue for that.

@Darkonyks it seems you're not changing the password the right way. I'm not 100% sure about that but you should edit the password with the postgres user using t

[2021-03-03 21:21] Darkonyks commented on #167
@vidlb It is not problem with changing password in psql. Password is successfully changed and I manage to login to db using pgadmin providing new password, also geoserver is connected to geonode and geonode_data db with new passwords (layers ale listed) Disk Quota option in geoserver successfully is connected to geonode_data

![image](https://user-images.githubusercontent.com/8660091/109871266-52f

[2021-03-03 22:12] vijdz opened #168 "Failed to build with a genode-project called geonode"
` Linux 5.8.0-44-generic #50~20.04.1-Ubuntu SMP / Intel(R) Xeon(R) E-2236 / Docker  20.10.4 build d3cb89e`
 First time with a fresh django template from 3.x (several .env edit tests with failure / `MEMCACHED_ENABLED=False` also), the clone was from commit https://github.com/GeoNode/geonode-project/commit/73aaf9456cf177a13f747165f3effa41c7168e93 .

Latest test with alignment @ https://github.com/Ge

[2021-03-03 22:23] vijdz commented on #168
From another point of view, the cause of this error code could be that the built image is a frozen state, with a service up and running, so when docker is creating a container and sys / proc devices are mounted, somehow he sees a PID but it but can't be accessed via a socket outside of the main ENTRYPOINT process tree. There has to be something weird about the way docker is decomposing `&&` when t

[2021-03-03 23:08] vijdz commented on #167
Again not 100% sure but it seems to me that django is trying to connect with user postgres, not geonode.

[2021-03-03 23:58] vijdz commented on #168
I was curious and tested it, and it did not work either.
But I think I found the problem. I was so confused by the service restart thing, and did not looked at my invoke.log, and it was stupid, sorry about that.

So I found this :
[code]
Well I guess it was a REAL BAD idea to name my project geonode, since it's a mess for python imports ! I swear, I just wanted short container names and a cool url

[2021-03-04 06:21] t-book commented on #168
Ah yes! I ran in this some years before! We should prevent it!

[2021-03-04 07:12] Darkonyks commented on #167
Maybe you are right but I did not change postgres password it is by default "postgres". And wallowing logs problem persist with geonode and geonode_data users.

[2021-03-04 07:14] t-book commented on #167
Hi @Darkonyks please check your env vars inside the container to see what is actually in use. https://docs.djangoproject.com/en/3.1/ref/django-admin/#diffsettings can also shed light into (`./manage.py diffsettings --all`).

[2021-03-04 08:20] vijdz commented on #168
So do I leave this open ?
For the record, I changed everything except compose project name and it is running smoothly.
Also for the record, I was able to compose with specification v3.7 without issues.

About Docker version(s), do we still need to force API 1.24 ?
I saw it was first issued in 2018

[2021-03-04 08:26] vijdz commented on #167
May be I'm wrong, but I believe you can change users password when connected to the postgres database, and only this one, except if you've changed auth config in /etc.

[2021-03-04 13:57] Darkonyks commented on #167
@t-book @vidlb Hi again. Just to inform everyone that we find what was wrong, well not so wrong then something that we jumped over some settings. First to thank you all for your time, effort and will to help. What I have did:

change password for geonode and geonode_data. Password can be changed thru pgadmin or with commands:
[code]
then the password should be changed in three files:
1. tasks.py
2

[2021-03-04 13:57] #167 closed, assigned to nobody

[2021-03-05 22:38] Darkonyks opened #170 "Failed to build from new branc 3.2.x"

[2021-03-05 22:56] #170 closed, assigned to nobody

[2021-03-06 22:11] Darkonyks opened #171 "Issue loading wms Remote Services from local geoserver - geonode-project 3.2.x"
Hi,

I'm facing with issue loading wms Remote Services from local Geoserver. I have geonode-project 3.2.x docker installation.

![image](https://user-images.githubusercontent.com/8660091/110221853-cb0e3200-7ece-11eb-8bb1-178d00bf3456.png)

First I thought that wms service in geoserver is not well set. But when I try to add wms to QGIS it loads it without any problems (except ssl exception)

Also I

[2021-03-08 09:45] vijdz commented on #152
What did you think about my remark on gitter, regarding `.env` which is used in a kind of misleading way in the default docker-compose.yml ?
Since it is a "global" exec env for compose, but isn't used by `docker run` by default...
As stated in [the doc](https://docs.docker.com/compose/environment-variables/), .env should serve a substitution purpose and isn't automatically used for docker build or

[2021-03-08 09:47] vijdz commented on #152
In the mean time regarding security, what about the `override_prod_env.sh` that I also suggested ? As  @cwygoda_gitlab reminded on gitter, this does not address any security issues regarding the HOST.

But it would allow us to push "container commit" images : right know it would be a real bad idea to push a commit-container, because env is filled with secrets. But with a sh script override during

[2021-03-08 11:52] t-book opened #172 "Geoserver Passwort not set on fresh install"
Branch 3.2.x

Start Stack on a fresh VM
Set a secure password instead of default: geoserver

Passwort get's not set and invoke is showing:

[code]

[2021-03-08 12:47] Darkonyks commented on #172
@t-book I have also fresh docker GN 3.2.x installation and I have successfully changed admin password. As I can see by default in .env file OAUTH2_API_KEY=  is blank. You should first in Geoserver in 'AuthKEY REST Role Service geonode REST role service' add REST Api Key and then add it to your .env. Try it to see if this will help.

[2021-03-08 17:06] cwygoda commented on #152
Hi, on github I'm just @cwygoda. :) Just a couple thoughts, since I'm not directly involved with geonode, but a professional user.

- override files for docker-compose are limited in nature (i.e. can't remove services)
- env files are somewhat hard to manage mentally, `docker-compose config` to the rescue!
- file base secrets would be a good investment, I'd guess a contribution from outside would

[2021-03-08 20:25] Darkonyks commented on #164
@mahershala2k19 A couple of months ago first what I have tried is to install Geonode on Windows, because I was not familiar with Linux. That error that you have "AttributeError: module 'os' has no attribute 'uname'*" took from me a several days truing to solve it and I could not make it! Uwsgi is not compatible with Windows (at least that is my opinion). At the end I give up from GeoNode on Window

[2021-03-09 15:09] mahershala2k18 commented on #164
Thanks for the tip! @Darko Nedic

On Mon, Mar 8, 2021 at 10:25 PM Darko Nedic <notifications@github.com>
wrote:

--
*David Ribeiro Patreque Chamussa*

*.........................................................*
*GIS/GEO Developer*
*Cell: +258 849 517 762*
*Home: +258 21423049*

[2021-03-09 15:23] t-book commented on #164
For the given error (title) please see: https://gitter.im/GeoNode/general?at=6038dc9a44f5a454a43e3096

[2021-03-09 15:23] #164 closed, assigned to nobody

[2021-03-10 08:53] t-book opened #173 "Change of database passwords not working"
## Test 1: Change postgis passwords in running stack

With branch 3.2.x and docker try the following:

- fresh instance
- `docker-compose up -d --build`
- Instance is running

Change database passwords:

[code]

 Change Passwords in.env

[code]
Rebuild Django and celery.
[code]
Ends in error (invoke.log)

[code]

## Test 2: Set passwords on fresh start

Now even more strange:
[code]

The same erro

[2021-03-10 08:59] afabiani commented on #173
I guess you need to updated `DATABASE_URL` and `GEODATABASE_URL` accordingly too.

[2021-03-10 09:04] t-book commented on #173
Oh, I see @afabiani

the syntax:
[code]
are username and password. Let me just try it. (A bit misleading in combination with the vars above if it's working I maybe I would add a short comment or update docs)

[2021-03-10 09:05] gannebamm commented on #173
Yes, the `DATABASE_URL` vars are needed, too. And If you use the project based GeoServer Image, which does use postgres as geofence store, you shall see how that one get´s updated, too.
see: https://github.com/GeoNode/geonode-project/blob/master/docker/geoserver/templates/geofence/geofence-datasource-ovr.properties.j2

[2021-03-10 09:09] t-book commented on #173
Thanks to both of you! – I will leave a note in docs.

[2021-03-10 09:15] #173 closed, assigned to nobody

[2021-03-11 10:39] giohappy opened #175 "set postgis:13 tag for 3.2.x and 3.1.x"
3.2.x [https://github.com/GeoNode/geonode-project/blob/3.2.x/docker-compose.yml#L5](https://github.com/GeoNode/geonode-project/blob/3.2.x/docker-compose.yml#L5)
3.1.x [https://github.com/GeoNode/geonode-project/blob/3.1.x/docker-compose.yml#L5](https://github.com/GeoNode/geonode-project/blob/3.1.x/docker-compose.yml#L5)

[2021-03-11 15:32] afabiani commented on #175
Done through:

https://github.com/GeoNode/geonode-project/commit/4565f3ac680f5477e71143115f8d1bd6cbd42cb9

https://github.com/GeoNode/geonode-project/commit/749efbe6f2d079e8ca495228acb18e514470852d

https://github.com/GeoNode/geonode-project/commit/bf503642dbc303594bb2a977df3614bba8ca0622

[2021-03-11 15:45] #175 closed, assigned to afabiani

[2021-03-12 06:17] gannebamm commented on #171
Why do you need to load your local GeoNode GeoServer into GeoNode as remote services? TBH  I do not understand why such remote service should fail, but neither do I see a point in doing that. You can use the `updatelayers` management command to fetch layers which are present in GeoServer but not registered in GeoNode, yet. A use case for that is to create GeoNode layers for datatypes GeoNode is no

[2021-03-12 07:01] Darkonyks commented on #171
I use Geoserver to serve layers from different sources. I'm not truing to add layers that are already uploaded in geonode_data database in Postgresql, than to add layers from MS SQL server in different Workspace/Source. Also, my Geonode instance is public and Geoserver also, they are not on localhost any more than on public host - production. I have tried WMS service's to add in several different

[2021-05-05 09:40] WernerRaath opened #178 "django and celery services fail silently at running migrations"
I just ran a `docker-compose stop && docker-compose build && docker-compose up -d` after editing something in the `settings.py` file.

In this case my project name is `my_geonode`

Upon startup, my `celery` and `django` services both die when it says `running migrations`

[code]

How can I see what is causing this failure. Have tested DB connection params, so it's not that.

[2021-05-05 09:49] JeffreyVRiemsdijk commented on #178
my celery instance is also stopping at running migrations. trying to find a solution as well to figure out what is happening.

[2021-05-05 10:09] afabiani commented on #178
The file `invoke.log` should contain the full stacktrace

[2021-05-05 10:11] WernerRaath commented on #178
@afabiani, thanks you legend! Is there a way to let logs be sent to **stdout** instead of the file?

[2021-05-05 10:36] afabiani commented on #178
I guess it could be possible by removing **all** those redirects from the `entrypoint.sh` file

https://github.com/GeoNode/geonode-project/blob/master/entrypoint.sh#L15 and the others below...

[2021-05-05 10:41] WernerRaath commented on #178
I think I'll make a pull request that accepts a new environment variable which will dictate logs to go either to a file or to stdout.

The reason for stdout being preferred is since it aligns with micro-service best practices to not send logs to files, but rather to `stdout` to be sent to some other logging service.

[2021-05-05 10:55] afabiani commented on #178
sure, PRs are very welcome

[2021-05-07 14:00] WernerRaath commented on #178
Submitted! https://github.com/GeoNode/geonode-project/pull/179

[2021-05-12 07:56] afabiani commented on #178
Merged, thanks.

[2021-05-12 07:56] #178 closed, assigned to nobody

[2021-05-12 08:43] afabiani opened #180 "Align docker-compose and env file to geonode upstream version 3.4"
As per subject.

References:

- [.env](https://github.com/GeoNode/geonode/blob/master/.env)
 - [docker-compose.yml](https://github.com/GeoNode/geonode/blob/master/docker-compose.yml)

[2021-05-14 15:22] #180 closed, assigned to afabiani

[2021-05-27 23:56] d3netxer commented on #172
Thanks, I updated the OAuth2 Rest API Key (https://docs.geonode.org/en/master/install/basic/index.html#oauth2-rest-api-key) and also the admin password in the GeoServer console. Then I was able to change the OAUTH2_API_KEY and geoserver password in the .env file. It worked successfully. You need to change the geoserver password in the .env file to match the geoserver console, or else you will get

[2021-05-28 15:11] nicokant opened #185 "nginx configs inside volume"
Changes made to nginx configuration for geonode are saved inside a volume, this leads to situations where you rebuild the image changing the configuration file, but the configuration doesn't change unless you delete the volume.
I don't see the need of persisting files that are copied in the image during the build phase, but then are overwritten by the volume.

[2021-05-28 15:25] nicokant opened #186 "Development with geonode-project"
I'm having some difficulties while developing with geonode-project using the master branch, in particular I'm struggling with finding documentation on how to run the project in "development mode". In django it's quite straightforward, but I found that the configurations are not easily suitable for development.
Some examples:
- Static files are not served by django, but only by nginx (with caching

[2021-05-31 13:52] nicokant opened #187 "django service entrypoint got command "" in development"
Entrypoint for django service doesn't read arguments passed as command in the docker-compose.

[code]

[2021-06-02 03:19] jape777 opened #188 "ERROR: No matching distribution found for ipython==7.23.1"
Error when executing pip install -r requirements.txt --upgrade --no-cache --no-cache-dir. My operating system is ubuntu 18.04 64bits.

[2021-06-02 16:42] vick25 commented on #188
I got the same error @jape777.  Same OS (Ubuntu 18.04 64bits)

ERROR: Could not find a version that satisfies the requirement ipython==7.23.1 (from geonode) (from versions: 0.10, 0.10.1, 0.10.2, 0.11, 0.12, 0.12.1, 0.13, 0.13.1, 0.13.2, 1.0.0, 1.1.0, 1.2.0, 1.2.1, 2.0.0, 2.1.0, 2.2.0, 2.3.0, 2.3.1, 2.4.0, 2.4.1, 3.0.0, 3.1.0, 3.2.0, 3.2.1, 3.2.2, 3.2.3, 4.0.0b1, 4.0.0, 4.0.1, 4.0.2, 4.0.3, 4.1.0rc

[2021-06-02 18:38] indeOWS opened #189 "Missing OGC reference metadata"
I have been unable to add layer through the create map button. The same issue as [7306](https://github.com/GeoNode/geonode/issues/7306). I realized that the same issue occurs in GeoNode Master Demo. See layer [pontes](https://master.demo.geonode.org/layers/geonode_master_data:geonode:pontes). I wonder if the problem is related to any GeoNode configuration or the data itself?

[2021-06-02 19:01] indeOWS commented on #189
I ran a test by uploading all the layers in GeoNode-Project@3.1.x. And create map (add layers) works like a charm. There is no issue regarding Missing OGC reference metadata. So, my first guess is that the issue is not related to the data itself, but with GeoNode-Project@3.2.x

[2021-06-03 14:09] giohappy commented on #189
@indeOWS it's not clear what's the problem. Are you trying to load a layer from the MapStore client CSW catalogue? Are you trying to create a map from an exising layer?

[2021-06-03 14:35] afabiani commented on #188
I'm afraid you are using a wrong/old python version.

Which branch of GeoNode are you using?

[2021-06-04 13:37] vick25 commented on #188
@afabiani Master branch! Python 3.6.9

[2021-06-04 14:15] afabiani commented on #188
you need Python > 3.7 better 3.8 or 3.9

[2021-06-04 14:49] indeOWS commented on #189
@giohappy, similar issue as in issue [7306](https://github.com/GeoNode/geonode/issues/7306). I uploaded a shapefile [pontes](https://master.demo.geonode.org/layers/geonode_master_data:geonode:pontes)  in GeoNode Master Demo. The layer reports "Missing OGC reference metadata". And If you try to create a map with this layer, the plus sign (+) to add a layer won't show up. This is happening with all

[2021-06-04 16:48] jape777 commented on #188
Thanks, I installed ubuntu 20.04 and everything works fine. I just have the following error:
celery 5.0.5 has requirement click<8.0,>=7.0, but you'll have click 8.0.1 which is incompatible, and when I run paver_dev.sh start, the console displays the following non-stop.

[2021-06-04 16:44:29,981: DEBUG/MainProcess] Timer wake-up! Next ETA 0.9971289230006732 secs.
[2021-06-04 16:44:30,982: DEBUG/Mai

[2021-06-09 00:50] jape777 opened #191 "Intersect"
Hello community.  I am developing with geonode-project.  I need to create a form to intersect 2 tables from geonode-data, and register the result automatically as another layer, is it possible to do this?

[2021-06-18 20:05] d3netxer commented on #186
I am also trying to run geonode-project in development mode, but I don't know how to. I only see this documentation: https://docs.geonode.org/en/master/devel/docker/index.html; but I don't understand it. There is no 'docker-compose.async.yml ' file in the repo. How can I modify the core GeoNode files? I specifically need to tweak this file: https://github.com/GeoNode/geonode/blob/3.2.x/geonode/cat

[2021-06-22 14:07] virdiignis opened #192 "Editing layer metadata in admin interface throws an error"
Hi.
I'm working on preparation of an in-house GeoNode instance for my organization. I've started by running a basic docker installation on a single server and letting an experienced user test it. Unfortunately, he found out that GeoNode is throwing error when we try to edit layer metadata from admin interface. He says it used to work fine in the other instances he worked at back in the days. I ran

[2021-06-23 00:39] #189 closed, assigned to nobody

[2021-06-23 00:53] indeOWS opened #193 "MapStore WMTS BaseMaps Failing"
I have tried to ingest a WMTS service as BaseMap, but MapStore is failing. Chrome console log brings the following error:

gn-map.js:2 TypeError: Cannot read property 'toLowerCase' of undefined

I followed the instructions in [here](https://mapstore2.readthedocs.io/en/new_merge_doc/developer-guide/maps-configuration/#WMTS).

Reproduce the issue

REF: [WMTS SERVICE](https://sampleserver6.arcgisonli

[2021-06-24 08:01] Darkonyks opened #194 "Metadata batch documents edit"
## Expected Behavior
Metadata batch update permission on documents using Django admin => Home => Documents seem to work but it is not.

## Actual Behavior
When Batch edit and change Group to registered-members changes are implemented but ...

![image](https://user-images.githubusercontent.com/8660091/123224252-f0e93200-d4d1-11eb-9ffd-061b2d9ba71e.png)

when check document permission it did not cha

[2021-06-24 08:12] #171 closed, assigned to nobody

[2021-06-25 14:30] #193 closed, assigned to nobody

[2021-06-30 02:47] mahershala2k18 commented on #164
Hi everybody,
I created a small leaflet application in order to consume my geoserver spatial data.
couple days ago it was working fine... but suddenly in a few days later it is no longer displaying the spatial data on the leaflet html application.
However, from inside the geonode/geoserver user interface still I can visualize my spatial data.
I'm guessing this issue has to do with the geonode/geos

[2021-07-16 08:30] imoyao opened #195 "Dropbox unavailable in China!"
Unfortunately,AS some government reason(GFW project),we cant use Dropbox in China.Can replace the link  [here](https://github.com/GeoNode/geonode-project/blob/master/dev_config.yml) with some others service like OneDrive? thinks.

[2021-07-16 09:11] t-book commented on #195
you can use my github mirror: https://github.com/t-book/geonode-geoserver-mirror/releases

[2021-07-16 09:11] #195 closed, assigned to nobody

[2021-07-16 22:10] ghost opened #196 "Thumbnails empty of layer geometry"
With a local Docker build of Geonode-Project (branch `3.2.x`) with `Geonode=3.2.1` in "requirements.txt", layer thumbnails either render only the context basemap without layer geometry, or save no thumbnail at all (placeholder "no thumbnail" image). This occurs even though the Set thumbnail function in Editing Tools completes with "Thumbnail saved". I believe this is the same issue as [#7675](http

[2021-07-20 10:04] pchapuis opened #197 "Error in src/fixtures/initial_data.json"
There is a unexpected coma at line 4856 of src/fixtures/initial_data.json

[2021-07-20 11:45] #197 closed, assigned to nobody

[2021-07-20 11:46] afabiani commented on #197
Fixed thanks

commit: https://github.com/GeoNode/geonode-project/commit/238acc24ce6b084f60dab84ffbae42b15efaa692

[2021-07-28 13:19] mahershala2k18 opened #200 "unable to start geonode geoserver"

[2021-07-28 15:09] lpasquali opened #201 "docker-entrypoint.sh overwrtites external ssl certificates"
These lines in the docker-entrypoint.sh of nginx https://github.com/GeoNode/geonode-project/blob/e21cc1b398fe1b46042c766bfc276b798f11d4de/docker/nginx/docker-entrypoint.sh#L14-L21
 no matter the real expiration date (which should be checked with openssl), if the "file" for full certificates chain and private key are more than 365 days old they get overwritten no matter of the .env decision about h

[2021-07-29 13:58] frafra opened #202 "Please avoid using COPY ."
`COPY .` is a bad practice which should be avoided, especially when `.dockerignore` is missing. It causes to rebuild the whole Docker image just because an unrelated dot file is modified.

https://github.com/GeoNode/geonode-project/blob/75e87bf1899082e32321d9bcf65e66485ab597eb/Dockerfile#L33

[2021-07-29 14:32] frafra opened #203 "certbot fails when using LETSENCRYPT_MODE=staging"
[code]

https://github.com/GeoNode/geonode-project/blob/e21cc1b398fe1b46042c766bfc276b798f11d4de/docker/letsencrypt/docker-entrypoint.sh#L20

https://acme-staging-v02.api.letsencrypt.org/directory should be used instead, according to https://letsencrypt.org/docs/staging-environment/.

[2021-07-29 14:41] frafra opened #204 "certbot logs are not persistent"
`/var/log/letsencrypt` is used to [store logs by default](https://certbot.eff.org/docs/using.html#log-rotation), as certbot does not seem to output to stderr when something files (which would be a more appropriate behaviour in a containerized environment).

A solution would be to add a persistent volume for the logs here:
https://github.com/GeoNode/geonode-project/blob/e21cc1b398fe1b46042c766bfc27

[2021-07-30 14:26] frafra opened #205 "letsencrypt email is set to admin email"
This setting sets both the email address for the admin user and the address for the letsencrypt certificates. A specific parameter for letsencrypt could be added (default empty, falling back to `ADMIN_EMAIL` if empty).

https://github.com/GeoNode/geonode-project/blob/1dca3670a4545674a6057601b7ded5822e7d6f83/.env#L114

[2021-08-05 16:20] etj opened #206 "3.3.x build may fail because of django-geonode-mapstore-client version"
Building 3.3.x this error will break the procedure:
[code]

Splitting the RUN command the error will be more readable:
[code]

This error is caused by the fact that `django-geonode-mapstore-client` 3.3.0 has not been released yet.

In fact GeoNode 3.3.x has in the setup.cfg the requirement
[code]

As a temporary fix, you may add the line
[code]
as the first line in the `requirements.txt` of your p

[2021-08-06 01:59] ttungbmt opened #207 "unknown command: 'set_all_layers_alternate' (master branch)"
![image](https://user-images.githubusercontent.com/12232155/128444194-4a249f38-52f5-4269-9a50-f5755d51876f.png)

[2021-08-06 08:57] #206 closed, assigned to nobody

[2021-08-06 14:31] #207 closed, assigned to afabiani

[2021-08-09 09:17] drumbsd opened #209 "GEOSERVER admin password seems not be updated"
Hello guys. Trying to build a new environment using branch 3.3.x, I modified .env file, changing

GEOSERVER_ADMIN_PASSWORD= geoserver

to this:

GEOSERVER_ADMIN_PASSWORD=4BfT9KAG9U

After that, I rebuilt the enviroment from scratch, but the geoserver password is still the same: Here steps to reproduce:

[code]
I'm currently using branch 3.3.x

[code]
After that I modify .env and rebuild the enviro

[2021-08-09 09:28] drumbsd opened #210 "Celery is unable to contact geoserver_public_location"
Problem:

On some specific server configuration, celery is unable to connect to GEOSERVER_PUBLIC_LOCATION.

Details:

If the /etc/hosts on server where the project is built, have the GEOSERVER_PUBLIC_LOCATION configured as 127.0.0.1 like in this specific situation:

[code]

Celery is unable to connect to foo.bar.com from inside the docker because it resolves the name with 127.0.0.1 that is unavail

[2021-08-09 09:39] drumbsd opened #211 "[DOCKER] GeoNode admin password is not persisted between containers re-creation or restarts"
Problem:

GeoNode admin password seems to be reset upon container restart.

Steps to reproduce:

* Run the enviroment using docker-compose as written in documentation (branch 3.3.x)
* Login on geonode with admin/admin
* Change admin password
* Restart containers with "docker-compose restart"
* You see that admin password is revert to default "admin"

Branch 3.3.x

[2021-08-09 09:47] t-book commented on #209
Please go with 3.2.x branch! Currently there is a lot of work going on which might bring you several problems with 3.3.x or master branch

[2021-08-09 10:29] etj commented on #209
Hi @t-book , exactly, this issue is part of the work in progress to make geonode-project 3.3.x work! ;)

[2021-08-12 12:11] randomorder opened #213 "Letsencrypt Certificate Renewal Failure"
Extract of the logs:
[code]

Certbot version packaged for Alpine 3.8 (that's the base image used [in the docker compose](https://github.com/GeoNode/geonode-project/blob/master/docker/letsencrypt/Dockerfile#L1) is too old and using deprecated APIs ACMEv1

ACMEv1 APIs have been dismissed: https://community.letsencrypt.org/t/end-of-life-plan-for-acmev1/88430/27

[2021-08-12 12:23] randomorder commented on #213
I'll submit a PR to update the base image (and certbot)

[2021-08-12 13:51] etj commented on #211
"It's a feature, not a bug!"

You have to set the new password in the .env file as `GEOSERVER_ADMIN_PASSWORD` env var.
Each time geonode is restarted, the geoserver pw will be set to that pw:

https://github.com/GeoNode/geonode-project/blob/3.3.x/entrypoint.sh#L73 :
[code]

https://github.com/GeoNode/geonode-project/blob/3.3.x/tasks.py#L256-L259
[code]

https://github.com/GeoNode/geonode-project/b

[2021-08-16 09:28] randomorder commented on #211
the issue is about GeoNode passwd not GeoServer's but this answer applies to https://github.com/GeoNode/geonode-project/issues/209

[2021-08-25 09:49] giohappy commented on #209
~~@drumbsd I don't see where `GEOSERVER_ADMIN_PASSWORD` is ever used. AFAICS it's never passed down by docker-compose, and as you will know .env vars are only available at build stage, not down into the container.~~

~~The geonode entrypoint.sh invokes `geoserverfixture`, which in turn invokes [_geoserver_info_provision](https://github.com/GeoNode/geonode-project/blob/59f3906c785e51455e645abc5e364

[2021-08-25 10:10] giohappy commented on #211
Apparently a mechanism to the one used for `GEOSERVER_ADMIN_PASSWORD` should prepare the fixture with the password from the `ADMIN_PASSWORD`

https://github.com/GeoNode/geonode-project/blob/3.3.x/tasks.py#L282-L289
[code]

@drumbsd we will need to print some logs to see if the fixture is correctly created.

[2021-08-25 10:31] giohappy commented on #211
@drumbsd for ADMIN_PASSWORD please check if `/tmp/django_admin_docker.json` exists and how it's populated. I can see it inside the django container of stable demo.

[2021-08-25 17:23] MoRadwan74 opened #217 "Changing SITEURL to localhost:Port didn't change Django Rest Framework URLs"
I've a running instance of a project generated from geonode-project-3.2.x and I change the port mapping of NGINX to be `5000:80` instead of `80:80` alongside`SITEURL=http://localhost:5000/` and all the routes work fine except for DRF.

For example the the route `http://localhost:5000/api/v2/categories` is working but you can see the routes are shown as `localhost` in the below screen.
![DRF](https

[2021-08-30 11:46] drumbsd commented on #211
It's present inside django container. Is this ( I removed sha password)

[code]

@giohappy

[2021-08-30 12:02] drumbsd commented on #211
@giohappy  The question is:

* Where the new admin password is stored once is changed? DB? Some local file?
* Why, when I restart django container, the password is reset to the original "admin"

Moreover, this command:

[code]

contained inside the task **updateadmin** is executed on every start? Because, if it's the case, is clear for me why the password is not persistent.

[2021-08-30 12:32] giohappy commented on #211
DB. `django-admin.py loaddata` is a command that loads a JSON into the DB.

This is what we need to investigate @drumbsd. In theory the `django-admin.py loaddata /tmp/django_admin_docker.json` [is executed on every restart](https://github.com/GeoNode/geonode-project/blob/3.3.x/entrypoint.sh#L76), and it should persist the `ADMIN_PASSWORD` value to the DB. Apparently it doesn't happen and we should

[2021-08-30 12:45] giohappy commented on #211
There was a misunderstanding. The issue is that the password set through the django admin is not retained between restarts. This is the expected behaviour (although maybe not the desired one), since the `updateadmin` task is executed on each restart. It's not a one-off execution, as it happens for [this block of tasks](https://github.com/GeoNode/geonode-project/blob/3.3.x/entrypoint.sh#L57-L66).

[2021-08-30 13:32] drumbsd commented on #209
@giohappy some update:

Running **geoserverfixture** by hand I got a 401 Unauthorized.
So I changed the code in this way:

[code]

And running the task manually I got a 200 Password has been updated. For some strange reason, looking with a recursive grep inside the code, I was not able to find neither OGC_SERVER_DEFAULT_USER nor OGC_SERVER_DEFAULT_PASSWORD.

I found this old issue [link ](https://

[2021-08-30 13:50] giohappy commented on #209
@drumbsd this is odd, since genode-demo settings [should load](https://github.com/GeoNode/geonode-demo/blob/3.3.x/src/geonode_master/settings.py#L36) the default `geonode.settings.py` module, [which defines the two env vars](https://github.com/GeoNode/geonode/blob/3.3.x/geonode/settings.py#L992-L997).

I invite you to open the django shell (`python manage.py shell`) inside the django conainer:, an

[2021-08-30 16:05] drumbsd commented on #209
@giohappy  Ok I rebuilt from scratch to have a clear situation. All dockers are up and running. The geoserver admin password is still "geoserver" even if:

[code]

And the .env

[code]

So basically seems that settings OGC_SERVER_DEFAULT_USER and OGC_SERVER_DEFAULT_PASSWORD are correctly configured.

Maybe the problem is this:
* Geoserver start with default password "geoserver" in all cases.
* Fix

[2021-08-30 16:40] giohappy commented on #209
The issue has been spot: the `_geoserver_info_provision` doesn't work and it's conceptually wrong!

1 - as @drumbsd notice `OGC_SERVER_DEFAULT_PASSWORD` [is set to](https://github.com/GeoNode/geonode/blob/3.2.x/geonode/settings.py#L997) `GEOSERVER_ADMIN_PASSWORD` if this env var is set. So itr tries to connect to Geoserver with a password yet to be set, and it fails of course
2 - Even if `OGC_SERV

[2021-08-30 16:43] giohappy commented on #211
I suggest to move the task invocation inside the initialization block. It's the most safe and conservative approach. In case we can add a print statement inside the invoke logs which reminds that the GeoNode password hasn't been updated.

In case we need to update it from the env the `FORCE_REINIT` env var must be used.

[2021-08-31 15:20] simboss commented on #211
@giohappy you are suggesting to whom? @drumbsd ?

[2021-08-31 16:15] giohappy commented on #211
I was giving a hint to the DevOps team and any other GeoNode dev to consider the option proposed in my previous comments, which I already presented to @drumbsd.

The option is to move the `updateadmin` task inside [this block](https://github.com/GeoNode/geonode-project/blob/3.3.x/entrypoint.sh#L57-L66). This way the task will only run the first time or in case the `FORCE_REINIT` env var is set.
Th

[2021-09-01 11:43] drumbsd commented on #211
For me it makes sense. I'll do it.

[2021-09-01 12:11] #213 closed, assigned to nobody

[2021-09-01 14:52] afabiani opened #222 "Align geonode-project 3.3.x structure to master branch"
- Change the folder structure accordingly to `geonode-project master` branch
 - Upgrade `Dockerfile` to version 3.4

[2021-09-02 10:02] drumbsd opened #226 "GeoServer docker build failing."
For some strange reason, the GeoServer Dockerfile , even if uses tomcat9-jre8 , tries to install openjdk-8-jdk

[code]

From this morning seems that openjdk-8-jdk is no longer available for distribution on which the docker image was created, generating the error:

**E: Unable to locate package openjdk-8-jdk**

I tried to remove it and rebuild the GeoServer and all works fine. I think we can remove

[2021-09-02 11:32] afabiani commented on #226
@drumbsd sure go ahead thanks.

Can you also make a PR an geonode core docker file?

[2021-09-02 13:38] drumbsd commented on #226
@afabiani Nothing related to openjdk-8-jdk on GeoNode Dockerfile. I think it is a specific GeoServer Dockerfile problem.

[2021-09-03 07:42] #226 closed, assigned to nobody

[2021-09-06 08:13] #211 closed, assigned to drumbsd

[2021-09-06 14:21] drumbsd opened #230 "Wrong URL inside Admin profile -> GeoServer Tab."
Hello, I'm using 3.3.x. If you login as admin inside geonode, goes on profile page, then click on GeoServer link you see that the code seems to use the **GEOSERVER_LOCATION** value instead of use **GEOSERVER_PUBLIC_LOCATION**

So the link is not working.

![image](https://user-images.githubusercontent.com/6428880/132230455-736f9370-25cd-47d1-b58f-34abdeae86a7.png)

![image](https://user-images.git

[2021-09-06 14:37] #230 closed, assigned to nobody

[2021-09-06 14:37] giohappy commented on #230
Issue moved to [GeoNode/geonode #8051](https://github.com/GeoNode/geonode/issues/8051) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-09 12:47] giohappy opened #231 "db service doesn't build or arm64"
The db image defined inside [master-arm64](https://github.com/GeoNode/geonode-project/tree/master-arm64) branch doesn't build. In particular PostGIS fails to build.
First of all I would upgrade the pg image to 13 (as we have on the master branch), then we might take a look at [this thread](https://github.com/postgis/docker-postgis/issues/216)

[2021-09-09 14:01] guisz1 opened #232 "Error installation"
error starting geonode build and always returns this failure
![Captura de tela de 2021-09-09 10-59-19](https://user-images.githubusercontent.com/16584514/132700168-d94668d2-c260-496c-aed7-eb897a649bb4.png)
ERROR: pull access denied for my_geonode_django, repository does not exist or may require 'docker login': denied: requested access to the resource is denied
WARNING! This will remove:
  - all st

[2021-09-10 07:46] massoudhamad commented on #168
I am still getting this error in Ubuntu 20.04 geonode 3.2.x , any help will be appreciated @afabiani @ricardogsilva @t-book

[2021-09-10 07:55] afabiani commented on #168
@massoudhamad you **should not** call a geonode-project instance geonode. Please, rename it to something else.

[2021-09-10 17:15] guisz1 commented on #232
![image](https://user-images.githubusercontent.com/16584514/132892206-dd7f0662-9bf3-498d-8964-94b3d3f4b942.png)

[2021-09-10 18:13] afabiani commented on #232
@guisz1 please update your requirements.txt file accordingly to https://github.com/GeoNode/geonode-project/commit/078ef5ebff3af2fea60d9c178f33e479ba3d6838

[2021-09-10 19:52] guisz1 commented on #232
thank you thats work

[2021-09-10 19:52] #232 closed, assigned to nobody

[2021-09-16 02:46] msalmanfarisi commented on #203
i have also been facing the same problem. any solutions ?

[2021-09-16 12:24] frafra commented on #203
@msalmanfarisi I just proposed a PR. Could you please test it? You should apply the change and rebuild the images.

[2021-09-17 16:10] drumbsd opened #239 "docker-build.sh commands."
Hello, currently the docker-build.sh file is this:

[code]

Is there a specific reason why && is not used? Since these commands needs to be executed in series, and only if the previous command had a positive result, why not change it in this way?

[code]

If, for example, the docker-compose build --no-cache fails, as happened to me today, there's no reasons to stop docker-compose, run docker-compo

[2021-09-22 07:50] #203 closed, assigned to nobody

[2021-09-22 12:40] giohappy commented on #239
Please @drumbsd send a PR.
To be honest I'm not sure if it's safe to have the `docker system prune -a` at the end.

[2021-09-27 22:42] christopher-angel opened #240 "Patch REST API from geonode-project?"
Without directly modifying `geonode` is it possible to inject additional return values in the `CommonModelApi` - if that's the right place.

Basically I'm following along with the geonode workshop and have injected new fields into the `ResourceBase`. I would like for these keys/values to show in API returns. Is modifying some of the behavior of the API possible from geonode-project?

Thanks!

[2021-10-01 13:06] etj opened #241 "Rename .env file"
Users will probably customize vars in `.env`, so we don't want such a file to be stored in git repos.
If private info are hidden in the stored version, we'll get conflict at every git pull.
Furthermore, if the vanilla .env changes (vars added, etc), it will be difficult to perform a diff to find out what's changed.

- [ ] move `.env` to `.env_sample`
- [ ] update doc

[2021-10-01 13:10] frafra commented on #241
May I suggest avoiding the `.env` file entirely and just have variables shared between containers in `docker-compose.yml`? It is much simpler to figure out which container relies on what, avoiding exposing variables to containers that do not need them (which improves security), without having to care about hidden files that could affect how `docker-compose` behaves. There are YAML anchors nowadays

[2021-10-01 13:14] etj opened #242 "Collect info into invoke.log file"
Using the `>` redirection, the file will be recreated each time `invoke` is called
https://github.com/GeoNode/geonode-project/blob/b6a423ba476c12a046463ab9060a11fe09e2a0b9/src/entrypoint.sh#L12

Pls use `>>` in order to append info in the same file.

We may want to recreate the file when the FORCE_REINIT is provided.

[2021-10-01 13:21] etj opened #243 "updategeoip should not be called in migrate task"
`updategeoip` is called on its own when reinitializing, so we don't need the task `migrate` to call it again:

https://github.com/GeoNode/geonode-project/blob/b6a423ba476c12a046463ab9060a11fe09e2a0b9/src/tasks.py#L185-L194

[2021-10-02 10:31] frafra commented on #242
Could we please avoid using such redirects to files at all? Loggers output should be stdout/stderr when using containers, not files usually.

[2021-10-04 08:29] afabiani commented on #242
In the most recent configurations a variable drive the way how you want the logs outputted. The default is `stdout`

[2021-10-04 16:10] giohappy commented on #241
@frafra I see your point. Currently the `.env` file is passed to `django`, `celery`, `geoserver` and `db` services. Breaking the .env file apart and putting any shared env var inside YAML anchors might be nice, but it must done carefully to be sure that we're not losing any env along the way.

For the moment I'd do the small improvement proposed by @etj, then feel free to submit a PR for your prop

[2021-10-05 15:16] #241 closed, assigned to marthamareal

[2021-10-06 12:37] marthamareal opened #247 "Rename .env_sample"
Rename .env_sample to .env.sample

[2021-10-06 12:37] marthamareal opened #248 "Rename .env_sample"
Rename .env_sample to .env.sample

[2021-10-06 12:40] frafra commented on #248
Duplicated #247.

[2021-10-06 12:40] #248 closed, assigned to marthamareal

[2021-10-06 13:13] #247 closed, assigned to marthamareal

[2021-10-07 08:30] etj opened #251 "wait-for-db fails on external database"
Both on master and 3.3.x the wait-for-db script assumes that username and dbname are the same:

- master: https://github.com/GeoNode/geonode-project/blob/c5a2c0684c0cde53eaafa6235c8c3cebf34a8443/src/wait-for-databases.sh#L13
- 3.3.x: https://github.com/GeoNode/geonode-project/blob/a305aa46388c1f1deabfae52af8dbe3bdaa53333/src/wait-for-databases.sh#L13

This may be not the case, especially when geon

[2021-10-07 08:34] giohappy commented on #251
@etj will the new proposed env var be used to set `PGUSER`?

[2021-10-08 15:02] etj opened #252 "Reboot issues using "restart: on-failure""
@luca in the main `docker-compose` file the `restart: unless-stopped` have been changed to `restart: on-failure`.
This change seems not be relaunching some of the service after a reboot.
Why this change has been done? Can it be reverted?

[2021-10-08 15:04] randomorder commented on #252
do you know @lpasquali ?

[2021-10-08 15:05] simboss commented on #252
I do!

[2021-10-09 12:20] frafra commented on #252
It should be restarted with a delay, in my opinion, and a maximum number of tentatives, to avoid having geonode flooding the server by spawning thousands of containers in a short amount of time.

[2021-10-09 16:49] #239 closed, assigned to nobody

[2021-10-13 14:03] lpasquali commented on #252
@randomorder @etj I think (git blames actually) https://github.com/GeoNode/geonode-project/commit/31c1e6a3b30f3350faaa664d3d8d77fc1bac696c

[2021-10-18 08:37] lpasquali commented on #252
@etj @randomorder
fixed for master and 3.3.x

https://github.com/GeoNode/geonode-project/pull/253
https://github.com/GeoNode/geonode-project/pull/254

[2021-10-19 10:27] giohappy commented on #201
@lpasquali what about this? Are you going to send a PR or is it already fixed?

[2021-10-19 11:00] lpasquali commented on #201
@giohappy
this not has to be fixed in my opinion, the correct approach as documented is to make /geonode-certificates/foobar/ thus everything under `/geonode-certificates/autoissued/` is sane to be wiped out once a year @giohappy on mapstand I created  `/geonode-certificates/mapstand` for this purpose and it never gets overwritten.

[2021-10-19 12:32] giohappy commented on #201
so should we close this issue?

[2021-10-19 12:55] lpasquali commented on #201
@giohappy for me yes

[2021-10-19 15:02] #201 closed, assigned to lpasquali

[2021-10-20 07:18] afabiani commented on #252
@etj @randomorder please see the comments here

https://github.com/GeoNode/geonode-project/pull/253#issuecomment-945537673

[2021-10-20 07:21] afabiani commented on #252
Please update accordingly to the comment below:
"It should be restarted with a delay, in my opinion, and a maximum number of tentatives, to avoid having geonode flooding the server by spawning thousands of containers in a short amount of time."

[2021-10-20 10:31] frafra commented on #252
`restart` is the main directive that can be used to specify when a container should be restarted or not. It is also used to start the container automatically when docker starts (when the system boots, usually), by using `restart: always`. That could be problematic if there is an error in the configuration, or if one container is unable to start, and the containers reboots forever.

It is possible

[2021-10-20 16:27] etj opened #255 "Check tests on MONITORING_ENABLED env var"
Some code is performing checks like this:
[code]

When the given env var is defined, even if its string value is "False", it will be evaluated as `True`.

e.g.: this commit:

https://github.com/GeoNode/geonode-project/commit/131910ff67ac2ee7a018ece6b6ca855bd6f8559c#diff-2e746c9eacad6e2c2fdefdc6a665b5ce4607ea384ebf97a729044b79acc778d6R278

Please note that since the `MONITORING_ENABLED` env var is

[2021-10-20 16:58] giohappy commented on #255
`ast.literal_eval(os.environ.get('MONITORING_ENABLED', False))` is probably best for this.

[2021-10-21 08:33] etj commented on #242
@afabiani The problem is exactly there:
https://github.com/GeoNode/geonode-project/blob/b6a423ba476c12a046463ab9060a11fe09e2a0b9/src/entrypoint.sh#L6-L15

When the output is not stdout but a file, the file is recreated over and over (see the single `>` in line 12).

[2021-10-21 08:40] giohappy commented on #242
I agree with @etj about the append redirection. BTW we sould take care to rotate it, although invoke logs shouldn't grow much in time.

[2021-10-21 09:10] etj commented on #251
@giohappy the new var (2 vars, indeed, one for the `GEONODE_DATABASE` and the other for the `GEODATABASE`) will be used as argument for the `-U` parameter, that now is set as the database name.

[2021-10-21 16:36] lpasquali commented on #252
Hello @randomorder @afabiani @frafra
I implemented a docker-compose v 3.9 composition with `restart_policy`, this as underlined by @frafra needs docker swarm to be initiated even if for one node, this is actually not a big deal, but in other to let test others I added a Vagrantfile and an antani-vagrant.sh script which create a vagrant virtualbox instance with Ubuntu focal and builds a fresh gener

[2021-10-22 10:05] #242 closed, assigned to etj

[2021-10-22 10:06] #243 closed, assigned to etj

[2021-10-22 10:07] #255 closed, assigned to etj

[2021-10-26 08:31] #222 closed, assigned to afabiani

[2021-10-26 08:54] afabiani commented on #222
https://github.com/GeoNode/geonode-project/pull/223

[2021-10-29 16:53] guisz1 opened #263 "on run manage.sh updatelayers"
when I update the layers it is getting fixed on this tab and it doesn't keep running, how to fix it?
![error](https://user-images.githubusercontent.com/16584514/139473453-d3177e60-40f3-454a-8d8d-39686f209209.png)

[2021-11-01 21:25] frafra opened #264 "data-dir-conf does nothing when mount is used instead of volume"
https://github.com/GeoNode/geonode-project/blob/7393bb71b14691d4ce135d84fd3c1b1b0c9c2eb5/docker-compose.yml#L107-L113

Shouldn't look more like this?

[code]

...or at least suggest running `data-dir-conf` once like that?

Otherwise, it looks like that the OAuth2 configuration will be missing:

[code]

[2021-11-01 21:37] frafra opened #265 "nginx *.envsubst cannot be found"
https://github.com/GeoNode/geonode-project/blob/7393bb71b14691d4ce135d84fd3c1b1b0c9c2eb5/docker/nginx/Dockerfile#L5-L7

These files are not found as a volume is mounted over the folder where they are stored:

https://github.com/GeoNode/geonode-project/blob/7393bb71b14691d4ce135d84fd3c1b1b0c9c2eb5/docker-compose.yml#L67

Wouldn't be better to comment that line and/or move the templates elsewhere?

[2021-11-02 09:09] giohappy commented on #265
@frafra what do you mean? The WORKDIR sets the directory where the ADD command will copy the files, and that folder is the one mounted as a volume. What's wrong here?

[2021-11-02 10:32] frafra commented on #265
Docker behaves differently if a named volume is used or if a directory is used (which is a terrible design choice in my opinion, probably related with how folders are overlayed).

When you run nginx using volumes, there is no problem.
If you use folders instead, the mounted directory is mounted "on top" of the container, so `/etc/nginx` gets overwritten entirely, and these files are not accessible

[2021-11-02 12:09] giohappy commented on #265
@lpasquali can you please review these points from @frafra?

[2021-11-03 20:50] frafra opened #266 "GeoNode logs are not persistent in Docker"
GeoNode logs are not persistent across container reboots, as the log file is not part of any volume.

https://github.com/GeoNode/geonode-project/blob/7393bb71b14691d4ce135d84fd3c1b1b0c9c2eb5/src/uwsgi.ini#L4

https://github.com/GeoNode/geonode-project/blob/7393bb71b14691d4ce135d84fd3c1b1b0c9c2eb5/docker-compose.yml#L11-L17

[2021-11-03 22:50] frafra commented on #264
Ok, I think that this is due to how Docker handles volumes differently from directory. In this case, Docker copies the files over the volume, while a regular mount overrides the `data` folder, which has never been populated actually.

[2021-11-04 10:23] lpasquali commented on #265
@giohappy I agree with @frafra envision, we should drop the habit of the nginx volume (main cause of several issues with nginx configuration persistence, ssl certificates removed or ulinked upon rebuilts and so on), as persistence of such data gives  more problems than benefits.
The "envsubst" process on how nginx gets configured upon rebuilds should be volatile and always created from scratch, ha

[2021-11-04 10:31] giohappy commented on #265
@frafra are you planning to submit a PR for that?

[2021-11-04 22:44] frafra commented on #265
We can then drop the persistence of that folder entirely then.
@giohappy yes, that is trivial

[2021-11-05 09:40] frafra commented on #172
This issue makes impossible to secure GeoServer in production environments. Setting a non-trivial password requires setting it again using the GeoServer web interface, but that lasts until the container is destroyed.

[2021-11-05 20:54] gannebamm commented on #265
I actually was puzzled why sometimes I get this kind of strange behaviour! Good catch @frafra

[2021-11-08 09:38] lpasquali commented on #252
@randomorder @afabiani testing extensively this solution with "mixed" swarm configuration, I see that repartition of services on reboot is not working

[2021-11-08 14:23] randomorder commented on #252
please propose a solution @lpasquali

[2021-11-19 15:12] indeOWS opened #269 "django-admin.py: command not found"
The [documentation](https://docs.geonode.org/en/master/install/advanced/core/index.html#update-the-settings-in-order-to-use-the-postgresql-database) is applicable do GeoNode-Core, however the GeoNode-Project installation [guide](https://docs.geonode.org/en/master/install/advanced/project/index.html#geonode-project-installation)  says: <**From now on, everything already said for GeoNode Core (pleas

[2021-11-23 11:54] lpasquali commented on #252
@randomorder for the sake of @etj original request I would revert everything to just what was asked: that where a restart parameter changed we re-add back the old woring restart: unless-stopped

[2021-11-23 12:51] giohappy commented on #252
@lpasquali I'm fine with re-adding the `unless-stopped` policy, but it's not clear to me if having it along with the `restart-policy` (for Swarm) causes probelms

[2021-11-24 11:02] randomorder commented on #252
agreed with @giohappy
please revert @lpasquali
if we add support for swarm in the future we will take care of testing the restart policies,,

[2021-11-24 15:01] #265 closed, assigned to nobody

[2021-11-24 15:23] lpasquali commented on #252
I have never seen it on usual docker-compose, I would suggest to "fork" docker-compose.yml" to "geonode-stack.yml" so that we can have both of them, from my PR I wuold anyway suggest to push the vagrant scripting I did, which gives an handy pre-generated on demand local system for geonode-project deployment in vscode. @giohappy

[2021-11-24 15:30] giohappy commented on #252
As said @lpasquali just revert to `unless-stopped`.
If you have a vagrant script send it in a separate PR.

[2021-11-24 15:32] frafra commented on #252
We can have them both, unless they have different policies. `restart: always` and `condition: any` for the docker swarm option. If a user wants better handling, it would just enable docker swarm. That is the most compatible and easy to use setup in my opinion. No need to have multiple files to maintain and such.

[2021-11-24 15:40] giohappy commented on #252
@lpasquali could you make a final test with the hints from @frafra? From what he says he's deploying GeoNode with Swarm and this mix of policies is not harming...

[2021-11-25 09:17] lpasquali commented on #252
yes I can @giohappy but I would still avoid to use same file... so if two compositions are too hard to maintain, we can always put the swarm stuff as an override and easily tell tah for swar one need to run something like:
[code]
Harming or not I would like to be still be able to push yaml code to be parsed by docker-compose.yml that actually is supported and similar to its predecessors on old ins

[2021-11-25 09:21] giohappy commented on #252
I think this is a good compromise, and keeps things separated and clear @lpasquali

[2021-12-08 22:27] petrasovaa opened #270 "502 Bad Gateway"
I am trying GeoNode for the first time, so sorry if I am missing something. I tried setting it up based on the documentation:
https://docs.geonode.org/en/master/install/basic/index.html#create-an-instance-of-your-geonode-project

I use geonode-project master branch. I do have .env file (copied from .env.sample).
When I go to localhost, it just shows 502 Bad Gateway.
Output of docker-compose logs -

[2021-12-15 07:05] gannebamm opened #271 "Mitigate log4j RCE by using modified .jar"
As discussed on gitter [14. Dezember 2021 12:55](https://gitter.im/GeoNode/general?at=61b886338853d31640497a39)

We can mitigate the RCE issue by using

`RUN rm /usr/local/tomcat/webapps/geoserver/WEB-INF/lib/log4j-1.2.17.jar && curl https://repo.osgeo.org/repository/geotools-releases/log4j/log4j/1.2.17.norce/log4j-1.2.17.norce.jar -o  /usr/local/tomcat/webapps/geoserver/WEB-INF/lib/log4j-1.2.17.n

[2021-12-22 10:49] afabiani commented on #271
@gannebamm go ahead please

[2021-12-22 11:20] afabiani commented on #252
so far this is my proposal

[code]

[2021-12-22 11:40] randomorder commented on #271
Hi @afabiani @gannebamm
We've patched the Geoserver artifacts for 2.18.x and 2.19.x already. Should not be necessay anymore
https://artifacts.geonode.org/geoserver/2.18.x/geoserver.war
https://artifacts.geonode.org/geoserver/2.19.x/geoserver.war

[2021-12-22 11:41] #271 closed, assigned to randomorder, gannebamm

[2022-01-14 13:26] nicokant commented on #187
changing the dockerfile entrypoint instruction to: `ENTRYPOINT ["/usr/src/aza_geoportal/entrypoint.sh"]` seems to fix the issue

[2022-01-16 16:02] frafra commented on #54
Problem still affecting geonode-project 3.2.x.

[2022-01-17 08:50] frafra commented on #210
This is also problematic in case there is a network firewall with an anti-spoofing mechanism. Communication between GeoNode components should always happen using internal hostnames.

[2022-01-17 08:51] lpasquali commented on #252
hello @giohappy @afabiani this PR finalizes all said and divides compose and swarm yaml files:
https://github.com/GeoNode/geonode-project/pull/274

one ca easy test it just running vagrant for compose ( on a virtualbox backend), which builds geonode and does a reboot of the vagrant virtualbox vm showing that containers start up correctly at boot, this should avoid further regression on containers

[2022-01-17 08:56] afabiani commented on #252
@lpasquali can you please:

- this must be applied to "master" branch too
- the documentation must be updated too

[2022-01-31 09:25] lpasquali commented on #252
@afabiani https://github.com/GeoNode/documentation/pull/216

[2022-02-01 14:13] randomorder commented on #252
can we close @afabiani ?

[2022-02-02 08:34] afabiani commented on #252
@randomorder yes, closing

[2022-02-02 08:34] #252 closed, assigned to lpasquali, randomorder

[2022-03-18 22:50] PauloJhonny opened #276 "Changes in site_index.html are not showing in the browser"
Hey, I need some help, please.

I installed the geonode-project from branch 3.3.x using docker. I can open the url in the browser but when i try to change something in the site_index.html the changes doesn't happen in the browser. I'm wondering what am I doing wrong?

Thank you so much!

[2022-03-21 09:21] frafra commented on #276
You need to rebuild the image to see the change and make it permanent. Otherwise, you can just mount the folder containing the templates in your container, to see the changes in real time.

[2022-03-21 12:56] PauloJhonny commented on #276
Hey, @frafra. Thank you for your help.

I tried to rebuild the image in order to see the changes, but I got the following error. Also, now, even though I don't change anything in the templates files, I got the same error:

In template /usr/src/geonode/geonode/templates/base.html, error at line 113
relation "layers_layer" does not exist LINE 1: ...COUNT("layers_layer"."storeType") AS "count" FROM "

[2022-03-21 13:02] frafra commented on #276
Such error has nothing to do with your template. There are some tables missing from the database. I guess your database has not been initialized.

[2022-03-21 15:20] PauloJhonny commented on #276
You are right, @frafra.

There is something wrong with the database. I coudn't figure it out yet.

![image](https://user-images.githubusercontent.com/14023635/159292899-fc4245b8-f6a6-4836-ad03-554da6247b3a.png)

[2022-03-22 11:10] frafra commented on #276
As you are testing, I suggest to destroy/delete your volumes and launch `docker-compose up` again.

[2022-03-22 14:47] PauloJhonny commented on #276
Hey, @frafra. Thank you for your help.

I can access the geonode home page now. As I was testing, I uploaded one example layer the first time. When I deleted the containers and imagens using `docker system prune -a`, I thought the volumes were deleted (and that layer as well). As you suggested, I ran `docker system prune --volumes` and then the database error is gone.

About my main question, the

[2022-03-22 16:47] frafra commented on #276
You can just use `docker-compose down -v` to remove the volume: there is no need to delete everything else (like images or volumes belonging to other docker projects).

I still think that you rebuilt the images, since you executed a system prune.

Have fun!

[2022-03-22 16:47] #276 closed, assigned to nobody

[2022-03-22 19:05] ferchimi opened #277 "too many redirects - docker installation"
I'm trying to run a geonode 3.3.x project behind an haproxy which already deals with SSL/TLS certificates and redirects, then proxies http plain traffic to the dockerized nginx that geonode deploys
whenever I hit my https URL, dockerized nginx redirects back to https, and so on, generating a loop and TOO_MANY_REDIRECTS
how can I permanently disable https on the nginx and listen to the correct host

[2022-03-23 08:01] frafra commented on #277
`GEOSERVER_WEB_UI_LOCATION` and `GEOSERVER_PUBLIC_LOCATION` should use HTTPS (the last one especially). Be sure to not having set `HTTPS_*` variables.

[2022-03-23 13:38] ferchimi commented on #277
In my case, I need ALL the traffic to be plain http, as I deal with https and certificates in the frontend and I have no way around this
In version 3.1.x I did not have this problem

[2022-03-23 14:08] frafra commented on #277
I got that, and I have the very same setup in my company. There is still need to know the public location of your service.  `GEOSERVER_WEB_UI_LOCATION`  is used for the client (look for `WEB_UI_LOCATION` in the `geonode/geonode` repository: you will find various templates relying on that).

If you set a http -> https redirect and geonode or geoserver redirect you to what they think is the public U

[2022-03-23 14:36] ferchimi commented on #277
that's exactly what I got, an infinite redirect loop
I have little to no experience with geonode... If you don't mind, can you give some details like where in the tree are the relevant files to configure this stuff? it's a very problematic piece of software, fails differently every time you create a project, it's not very clean
Regards and thank you very much for your answers

[2022-03-25 04:35] ferchimi opened #278 "docker install 3.2.x - Unexpected error! - Unknwon Error Code uplading a layer"
Hi there
I have a functioning geonode proyect running on geonode 3.2.x installed on docker-compose
When I try to upload a layer I have the following error message after the green bar completes
"Unexpected error! - Unknwon Error Code. Contact the system administrator for more information regarding this error message."
No logs are seen anywhere with docker-compose logs -f, so I just can't see where

[2022-03-25 08:16] frafra commented on #278
See #266. You would also need to mount `invoke.log` as file (this has been fixed in 3.3), after touching it. You can open the file within the container otherwise.

[2022-03-25 12:26] ferchimi commented on #278
Thanks for your reply
I'm pretty now to this debugging, so I dont understand/know what service would be this log for (geoserver, celery, etc) and where I can find this invoke.log inside the already running container
Regards!

[2022-03-25 12:42] frafra commented on #278
It is inside the geonode container:
https://github.com/GeoNode/geonode-project/blob/4993e318a495567351b367a93461c5dc5ec074af/entrypoint.sh#L15

geonode stores the logs when it starts. After that, logs are stored under `/var/log/geonode.log`.

[2022-03-25 13:05] ferchimi commented on #278
This is the point where I get really confused with geonode in general, as it seems that some users have logs and features that some other users don't
/etc/nginx # find / -name \*.log
/var/log/nginx/access.log
/var/log/nginx/error.log

This is the point where I get really confused with geonode in general, as it seems that some users have logs and features that some other users just don't, I see oth

[2022-03-25 13:09] frafra commented on #278
You are looking in the nginx container. Look inside the django container, which contains the geonode code. The naming of the containers is confusing.

You should use the latest version, as it includes various bugfixes and improvements. If you have issues with 3.3, just open a new issue for that.

[2022-03-25 13:24] ferchimi commented on #278
I found /geoserver_data/data/logs/geoserver.log in django container which has some logs from last night, but right now it doesnt generate any
2022-03-25 04:21:14,747 WARN [protocol.ResponseProcessCookies] - Invalid cookie header: "Set-Cookie: sessionid=5h5gjkjmxj0bsp74eqsv20il6v97sv7n; expires=Fri, 08 Apr 2022 04:21:14 GMT; HttpOnly; Max-Age=1209600; Path=/; SameSite=Lax". Invalid 'expires' attrib

[2022-03-25 13:30] frafra commented on #278
I guess that both 3.2 and 3.3 have been misconfigured, but it would be nice to get more logs, from the web browser network tab for the failed request, see what the server replied to which request and such.
I would suggest double-checking your .env file. You could also need to re-init geonode. As you do not have any data stored, you can just remove the volumes.

[2022-03-25 13:54] ferchimi commented on #278
I have no problem with starting over, but I sincerely don't know what to look for in the .env file
as i see, the key points are:
SITEURL=http://geonode.sisa.msal.gov.ar/

GEOSERVER_WEB_UI_LOCATION=http://geonode.sisa.msal.gov.ar/geoserver/
GEOSERVER_PUBLIC_LOCATION=http://geonode.sisa.msal.gov.ar/geoserver/
GEOSERVER_LOCATION=http://geoserver:8080/geoserver/

GEONODE_LB_HOST_IP=geonode.sisa.msal.g

[2022-03-25 13:59] frafra commented on #278
I get a 5xx HTTP error at the moment.
The snippet you posted seems correct.
You should enable debug mode, using `DEBUG=True` first.
Setting `ASYNC_SIGNALS=False` could help in some cases.

[2022-03-25 14:08] ferchimi commented on #278
I was restarting it, now it's down, I'll try some things and be back

[2022-03-25 14:14] ferchimi commented on #278
I fixed a hostname that was wrong, I made FORCE_REINIT=true, now the error turned to
Unexpected error! - Unknwon Error Code. Contact the system administrator for more information regarding this error message. Additional info: [Client Error: Bad Request
Unexpected exception [Errno 2] No such file or directory: '/mnt/volumes/statics/static/tmptxusoauh']

at least is something

[2022-03-25 14:52] ferchimi commented on #278
I started over and changed all http to the site to https, now it works like a charm, in fact as never before
Thank you for all the assistance
I'm closing the issue

[2022-03-25 14:52] #278 closed, assigned to nobody

[2022-03-31 17:34] giohappy opened #279 "Cleanup of Geoserver ProxyBaseUrl configuration"
The configuration of Geoserver `ProxyBaseUrl`, depends on a convoluted flow of conditions, that involves variables derived from env vars and / or requests to the docker daemon. Several env vars are involved, without a clear and direct connections with the values set in the .env file. This was originally done to cover many different contexts and deployments, but the result is an "automatic" configu

[2022-04-01 09:10] Symbadian commented on #188
**Hi @afabiani,** i am having a similar issue and I'm not sure how to interpret this, hence me contacting you and commenting via this medium. I have been searching for months for a solution and cannot seem to make a breakthrough.

The issue:
I stopped processing on my old 2012 mac via python 3.8.2 and Ipython 7.22.0 as it was to slow in operations and I recently got a new mac via 3.8.13 python and

[2022-04-01 11:45] marthamareal opened #280 "Update README"
- update djando version
- update paths before executing commands

[2022-04-04 08:03] afabiani commented on #188
@MatParr I'm sorry, I have no clues on the issue you are facing here. Unfortunately I don't use Mac at all so I cannot try to reproduce this one either.

[2022-04-04 08:21] Symbadian commented on #188
I think it's a package issue, online M1 processors are a bit new and anaconda navigator is constantly failing to install so I tried installing via the bash file operations as per research. That did not work, when completed I tried initiating the anaconda nav. But it just won't initialise.

I am still doing research and YouTubing to understand what is going on here but so far no luck!! Open to sugg

[2022-04-08 06:39] #200 closed, assigned to nobody

[2022-04-12 15:34] giohappy opened #282 "Implement a CLI tool to guide in the creation of the .env file"
The .env file has several repeated configurations, some with slightly different representation (domain with or without scheme, port, etc.).
Editing the .env file is error prone.

A cli tool to guide in the creation of the .env file would simplify the process and make it more robust.

### Features
- it should be a pure Python command, without any dependency outside Python builtins
- it will accept

[2022-04-13 08:45] #280 closed, assigned to marthamareal

[2022-04-13 09:10] frafra commented on #282
Interesting :) Just a couple of suggestions/notes:
1. Variable substitution can be achieved in `docker-compose.yml`, without writing any additional logic
2. Variables with conditionals (like `LETSENCRYPT_MODE`) could be simplified by improving the existing entrypoint
3. Crudini/python-dotenv can be used to set variables

Overall, simplifying the entrypoints and relying on existing compose features

[2022-04-13 09:18] giohappy commented on #282
@frafra I have considered variable substitutions with docker-compose, and enhancing the entrypoints (there are several places that need improvements and fixes) but we already rely on the .env file. How do you suggest avoiding generating it or relying on it?

[2022-04-13 09:29] frafra commented on #282
@giohappy my suggestion would be to use both: an envfile to set the base variables, and the compose file to build upon them:

[code]

Reference: https://docs.docker.com/compose/environment-variables/#substitute-environment-variables-in-compose-files

A setup wizard could be built on top, using python-dotenv for example: https://saurabh-kumar.com/python-dotenv/#getting-started
Using an envfile coul

[2022-04-15 15:43] afabiani opened #288 "Backup/Restore list of apps into ".ini" sample must be updated"
References: https://github.com/GeoNode/geonode/issues/9125

[2022-04-15 15:46] afabiani opened #290 "Changing HTTP_PORT to a value different from 80 is not working"
References: https://github.com/GeoNode/geonode/pull/9123

[2022-04-18 11:13] MoRadwan74 opened #296 "Templates and static files can't be overrided for 3.3.x"
Hello there, I've got two issues while trying to customize the UI of geonode-project-3.3.x with docker.

1. When I try to add styles to [site_base.css](https://github.com/GeoNode/geonode-project/blob/3.3.x/src/project_name/static/css/site_base.css) then do:
[code]
nothing gets collected showing the message **0 static files copied to '/mnt/volumes/statics/static', 2943 unmodified.**

2. Customizing

[2022-04-20 07:19] #296 closed, assigned to nobody

[2022-04-30 23:59] lilatomic commented on #266
we could also log those to stdout/stderr, so they're picked up by Docker and visible with, eg, `docker-compose logs -f`

There are also a few log streams in the geoserver container which are logged to files instead of stdout/stderr. In my case, these logs reported the reason for the geoserver container failing to start. It was difficult to even `exec` into the container and poke around to find the

[2022-05-01 13:34] frafra commented on #266
They should be printed to stdout and stderr by default, in my opinion.
`INVOKE_LOG_STDOUT` is a step in the right direction, but we do not have an equivalent for `geonode.log`.

[2022-05-01 15:04] lilatomic commented on #266
there's always the dumbest possible way of `ln -sf /dev/stdout .../geonode.log`. Although I suspect that there's a better way to configure the logging library of geoserver.
there's also `invoke.log`.

[2022-05-06 14:19] giohappy commented on #282
@frafra I'm not following you. We already use an [envfile](https://github.com/GeoNode/geonode-project/blob/master/docker-compose.yml#L9). It's what we generate from .env.sample.

[2022-05-09 10:52] giohappy commented on #209
Probably GeoNdoe itself will have to be updated https://github.com/GeoNode/geonode/issues/7535

[2022-05-09 14:43] marthamareal opened #308 "Update env.sample variables"
- Add the following to the env sample
    - CELERY_BEAT_SCHEDULER=celery.beat:PersistentScheduler`
    - DEFAULT_MAX_UPLOAD_SIZE=5368709120
    - DEFAULT_MAX_PARALLEL_UPLOADS_PER_USER=5
- Remove
    - `CACHE_BUSTING_MEDIA_ENABLED`

[2022-05-09 17:00] frafra commented on #282
I just suggested not to rely on non-env files or non-custom methods, when most of what is needed is there already (thanks to string interpolation, various tools and libraries supporting env files, and by improving entrypoints).

[2022-05-11 13:06] giohappy commented on #308
@marthamareal do we need `CELERY_BEAT_SCHEDULER`. Its default is already that, and this isn't something we usually need to change in a project.
In any case, if we need to change it, we can always add it to the specific project.

I'm fine with the other two, since they can be something useful to configure per project.

[2022-05-11 13:08] marthamareal opened #310 "Update geonode-mapstore-client to 4.x"
Use 4.x branch [here](https://github.com/GeoNode/geonode-project/blob/4.x/src/requirements.txt#L1)

[2022-05-11 13:48] #308 closed, assigned to nobody

[2022-05-11 14:37] #282 closed, assigned to mattiagiupponi

[2022-05-17 07:09] nicokant commented on #151
Had the same problem while running with docker-compose behind a traefik proxy.

I managed to solve this by using docker-compose service name instead of the full domain for the service url: `http://django:8000/`

To set this you cannot use the django admin as the domain is considered *invalid* because it misses the TDL, this is a limit of the Django URLField validation, see https://code.djangoproje

[2022-05-20 07:39] #310 closed, assigned to marthamareal

[2022-05-24 09:39] giohappy opened #318 "change the default JAVA_OPTS to the public URL inside geonode-project .env.sample file (3.3.x, 4.x) and master"
`-DPRINT_BASE_URL` is set to the internal (Docker) URL. but it should be set to with the public URL

[2022-05-24 09:40] giohappy opened #319 "replace -DPRINT_BASE_URL value with the create-env.py script (4.x and master)"
@giohappy commented on [Tue May 24 2022](https://github.com/GeoNode/geonode/issues/9420)

[2022-05-24 14:33] #318 closed, assigned to marthamareal

[2022-05-24 14:34] giohappy commented on #319
fixed in https://github.com/GeoNode/geonode-project/commit/259477f58791658cf4f46ba50b8c88543bdf7f17

[2022-05-24 14:34] #319 closed, assigned to marthamareal

[2022-05-30 13:27] giohappy opened #324 "SITEURL is not being nterpolated"
`SITEURL` must be interpolated with the `{hostname}` placeholder
https://github.com/GeoNode/geonode-project/blob/master/.env.sample#L43

[2022-05-30 13:29] giohappy opened #325 "Add a prompt to inform the user that create-env.py will overwrite any existing .env file"
The prompt is a safety measure to avoid overwriting an existing .env file.
A `--noinput` can be added to skip prompting for confirmation.

[2022-05-31 22:32] SESMAPS opened #329 "ERROR: jenkins ports 50000 at docker-compose.yml"
When trying to install the geonode in VPS, and bring me version 3.3.x, it happens that when creating the container, this error appears:

`docker-compose build --no-cache
WARNING: The COMPOSE_PROJECT_NAME variable is not set. Defaulting to a blank string.
WARNING: The HTTPS_HOST variable is not set. Defaulting to a blank string.
WARNING: The HTTP_HOST variable is not set. Defaulting to a blank stri

[2022-06-07 13:28] Cornacap opened #330 "Installing Geonode 4.x in Docker always turns into a restart of nginx"
Hello,
I tried out the installation the repo of 4.x, but the nginx-container is stuck in a rebooting:
`7ddd24414a93   geonode/nginx:3.x            "/docker-entrypoint.…"   16 seconds ago   Restarting (1) 3 seconds ago                                            nginx4geonode4`

I looked into the logs:
`2022/06/07 13:07:34 [emerg] 1#1: directive "server_name" is not terminated by ";" in /etc/nginx/n

[2022-06-07 13:41] frafra commented on #330
https://github.com/GeoNode/geonode-project/blob/ecc97dfd0a3b5227c32a2f689f96244af370436c/docker/nginx/nginx.https.available.conf.envsubst#L11

https://github.com/GeoNode/geonode-project/blob/ecc97dfd0a3b5227c32a2f689f96244af370436c/docker-compose.yml#L55-L56

https://github.com/GeoNode/geonode-project/blob/ecc97dfd0a3b5227c32a2f689f96244af370436c/docker/nginx/docker-entrypoint.sh#L51-L53

It looks

[2022-06-07 14:04] Cornacap commented on #330
Thank you for replying so quickly, frafra!
Well, I haven't touched anything and the **docker-entrypoint.sh** looks the same as yours (without blank).

[2022-06-07 14:16] frafra commented on #330
You are welcome :)
Variables are set in the `.env` file. Have a look there.

[2022-06-07 14:41] Cornacap commented on #330
I didn't touched them either since I just wanted to run it locally at first. So did I with the Versions of 3 - without any issue.

[2022-06-07 15:36] Cornacap commented on #330
One thing I did beforehand: I deactivated jenkins.
Now I activated it again and get this:
`ERROR: for django4geonode4  Cannot start service django: failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: exec: "/usr/src/{{project_name}}/entrypoint.sh": stat /usr/src/{{project_name}}/entrypoint.sh: no such file or directory: unknown

ERROR: for

[2022-06-08 08:24] frafra commented on #330
Ok, so you just skipped the configuration of the geonode-project. Please read the `README.md` file: https://github.com/GeoNode/geonode-project#create-a-custom-project

[2022-06-08 08:44] Cornacap commented on #330
No, I created (as always) a project, like described in the readme.md:

'git clone https://github.com/GeoNode/geonode-project.git -b <your_branch>
source /usr/share/virtualenvwrapper/virtualenvwrapper.sh
mkvirtualenv --python=/usr/bin/python3 {{ project_name }}
pip install Django==3.2.12

django-admin startproject --template=./geonode-project -e py,sh,md,rst,json,yml,ini,env,sample,properties -n mo

[2022-06-08 09:34] frafra commented on #330
I guess you followed this:

If that is the case, have a look at your compose file. It looks like you are not using the one that has been generated.

[2022-06-08 10:37] Cornacap commented on #330
Well, isn't it automatically placed in the .env > COMPOSE_PROJECT_NAME=geonode4 (in my case) and then used in the compose file?.  All seems fine:

**.env**
[code]

**docker-compose.yml**
[code]

[2022-06-08 10:42] frafra commented on #330
As you can see, you still have `{{project_name}}` around, which means that the `docker-compose.yml` you are using has not been generated using `django-admin startproject`.

[2022-06-08 10:50] Cornacap commented on #330
ok, so I'll have closer look again. Was sure I followed the routine as always (since it's not my first time installing Geonode that way).
I give a feedback.

And again: thanks for your patience.

[2022-06-08 12:25] Cornacap commented on #330
Now I installed everything new and the project_name was taken (geonode4):

**docker-compose.yml:**

[code]

Still the container continues to restart:

[code]

[code]

[2022-06-09 08:08] #288 closed, assigned to afabiani

[2022-06-09 15:24] Cornacap commented on #330
This time I did not try to configure the .env manually. Instead I used the script **create-envfile.py**.
Now the nginx-Problem is gone. But I got a new one: Now django is stuck with restarts.

The log says:

[code]

[2022-06-10 13:27] aucampr commented on #330
I have this exact same error message. This is the first time that I tried to install.

[2022-06-13 09:15] etj opened #331 "Silent wait in `prepare` task"
The `prepare` task may be waiting forever.

https://github.com/GeoNode/geonode-project/blob/master/src/tasks.py#L66-L72

- The `geonode` service in the default compose is nginx (which is always confusing and misleading)
- There's no way to override the service name
- There's no way to bypass the waiting (what if there's an external proxy?)
- There's no log telling we are waiting for something, so

[2022-06-13 10:20] #331 closed, assigned to nobody

[2022-06-14 00:04] jkariscodes opened #332 "Layer upload process failed"
Hi,
I have installed GeoNode 4.0 geonode-project via docker and whenever I try uploading shapefiles from different sources like [GADM](https://gadm.org/data.html) or [NaturalEarth](https://www.naturalearthdata.com/) I get an error stating that upload process failed and that I should check the validity of the file (as shown below).
![image](https://user-images.githubusercontent.com/23359514/1734654

[2022-06-14 08:34] etj opened #333 "Checks for GeoServer availability should have some sleep"
https://github.com/GeoNode/geonode-project/blob/7dc69c7f213c80126e2a16df2b4754f208b56adb/src/tasks.py#L46-L50

[2022-06-14 10:16] etj opened #334 "Bad port on django container healthcheck"
Container healthcheck points to 8081:

https://github.com/GeoNode/geonode-project/blob/7dc69c7f213c80126e2a16df2b4754f208b56adb/docker-compose.yml#L28

but uwsgi listens on 8000:

https://github.com/GeoNode/geonode-project/blob/7dc69c7f213c80126e2a16df2b4754f208b56adb/src/uwsgi.ini#L3

so the django service is always `running (unhealthy)`:

[code]

[2022-06-15 09:41] giohappy opened #336 "B/R settings must be updated"
[settings.ini](https://github.com/GeoNode/geonode-project/blob/master/src/project_name/br/settings_docker.ini) must be aligned to [the one in GeoNode](https://github.com/GeoNode/geonode/blob/master/geonode/br/management/commands/settings_docker_sample.ini)

[2022-06-15 13:39] #336 closed, assigned to marthamareal

[2022-06-15 13:39] #324 closed, assigned to marthamareal

[2022-06-15 13:40] #325 closed, assigned to marthamareal

[2022-06-22 15:33] mattiagiupponi opened #339 "Missing packages on Geoserver"
By running:
[code]

Geoserver docker raise issues related to missing packages:

[code]

[2022-06-24 09:52] #339 closed, assigned to nobody

[2022-06-27 15:09] diegomonteiro commented on #332
Hi guys, I have same problem, if I change the images for Jenkins the error appers.
![Captura de tela de 2022-06-27 12-05-59](https://user-images.githubusercontent.com/5667573/175973258-ce7736e8-a579-4172-b1cc-895f55c991be.png)

java.io.IOException: Failed to start a listener: winstone.HttpsConnectorFactory, the application just say: winstone.WinstoneException: Please set --httpsKeyStore

[2022-06-29 12:27] frafra commented on #332
It is totally normal to have gsconf4my_geonode exiting with code 0, but it could case issues if you are using bind mounts instead of volumes: #264.

Look at geonode logs and at the browser console logs.

Jenkins can be disabled and is not required to upload layers.

[2022-06-30 08:46] hascar opened #342 "Geoserver Dockerfile, build failed"
Branch 3.3.x (also master)
The Dockerfile of Geoserver use the docker image tomcat:9-jre8 that some day ago passed from Ubuntu Focal to Ubuntu Jammy.
https://github.com/GeoNode/geonode-project/blob/master/docker/geoserver/Dockerfile

Inside the dockerfile there is this installation of pip:
https://github.com/GeoNode/geonode-project/blob/124c9ecdba915a36541fccbf46bf20951e603f9b/docker/geoserver/Doc

[2022-07-01 10:11] vijdz commented on #342
Yep, same here, I can confirm the build is successful after removing ` && pip3 install pip==9.0.3 `

[2022-07-05 09:40] #342 closed, assigned to nobody

[2022-07-05 09:46] afabiani opened #345 "Align geonode-peroject 3.3.x with updated/latest 4.x improvements and fixes"

[2022-07-13 12:57] afabiani opened #351 "[Docker] Wrong healthcheck on Django container"
The healthcheck defined into the `docker-compose.yml` file is wrong: it is pointing to the wrong `8001` internal port instead of the `8000` one (see [here](https://github.com/GeoNode/geonode-project/blob/master/docker-compose.yml#L33)).

[2022-07-14 10:43] #351 closed, assigned to afabiani

[2022-07-21 11:03] giohappy opened #358 "Fix renaming of CORS_ORIGIN_ALLOW_ALL"
https://github.com/GeoNode/geonode/issues/9718

[2022-07-24 17:22] rafaelsa99 commented on #329
I am having the same problem on Ubuntu 20.04.4 LTS. Any progress on this issue @SESMAPS ?

[2022-08-04 13:45] #345 closed, assigned to afabiani

[2022-08-04 13:45] #334 closed, assigned to afabiani

[2022-08-05 12:51] Cornacap commented on #332
I have the same issue. I followed the installation routine from the [documentation](https://docs.geonode.org/en/master/install/basic/index.html) and from the [repository](https://github.com/GeoNode/geonode-project/tree/4.x). Once I used the script _create-envfile.py_ and once I configured the _.env_ by myself.
It always resulted in the error that I can't upload geodata to Geonode.

When I tried to

[2022-08-09 11:32] Cornacap commented on #332
So, now 4 days later. I did not change anything else than what I described above. Now, the geodata was loaded into Geonode. The same data I tried it with last time.
Same with creating geodata inside Geonode.

[2022-08-09 14:12] gannebamm commented on #264
Hi @frafra
Could you elaborate on that? I was trying to understand what exactly will happen on the data dir container (:point_up: [9. August 2022 10:14](https://gitter.im/GeoNode/general?at=62f217526837563d1cf2e9c8)) with no final answer, yet. This is also important if you upgrade your data-dir from 3.3.x to 4.x

[2022-08-10 07:53] frafra commented on #264
@gannebamm

`data-dir-conf` relies on a very specific behaviour of Docker, which is obscure and hard to figure out by just looking at the compose file; this is why it should be changed, in my opinion.

How does it work? The container image contains `/geoserver_data` already. If a user mount a volume on that specific folder, Docker copies the data from the image to the volume **implicitly and silen

[2022-08-10 08:50] sonicnkt opened #361 "3.3.X Branch - UWSGI Proxy issue"
The default config/template of the 3.3.x branch wont result in a working setup.
There is an issue with nginx not being able to proxy to the django container using uwsgi:

[code]

Since i was able to connect to django container directly from the host using the mentioned ip and port in error log, i first checked the nginx config and replacing `uwsgi_pass $upstream;`with `proxy_pass http://$upstream;

[2022-08-24 09:15] #361 closed, assigned to nobody

[2022-08-24 09:16] #358 closed, assigned to giohappy

[2022-08-26 13:07] sonicnkt opened #363 "Current django health check in `docker-compose.yml` useless."
In the `docker-compose.yml` a health for the django container is performed using a simple curl command inside in the container to check if the server is running:
`test: "curl --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null http://127.0.0.1:8000/"`

But this isn't working anymore since in the default configuration an http-socket isn't configured, this results in curl exi

[2022-08-26 14:45] afabiani commented on #363
We can do something similar to what geonode does

[code]

[code]

[2022-08-26 14:53] sonicnkt commented on #363
Guess if running the additional socket isn't using any additional system resources this is fine.

[2022-08-29 08:38] #363 closed, assigned to afabiani

[2022-09-03 08:50] t-book commented on #264
thanks @frafra +1 for solution 2.

What do you think @gannebamm @giohappy @afabiani

[2022-09-09 19:48] Cornacap commented on #330
Still hanging on this, working behind a proxy (in an unprotected area it works). But the output of the error has changed:
(As a reminder nginx is fine now, but Django restarts)
[code]

[2022-09-12 08:16] afabiani commented on #264
+1

[2022-09-12 08:46] giohappy commented on #264
@t-book @frafra we were discussing internally the removal of the data-dir-conf image just a few days ago, along with some improvements to a few parts of Docker for GeoNode (not only Geoserver).
I hope we will be able to submit our proposal soon.

[2022-09-19 13:39] Cornacap commented on #330
After a long journey not being able to install Version 4 in our Proxy environment, I had success today.

This was what I had always prepared to make docker work with our Proxy:

[code]
The build has to be like this:
[code]
This was the new one of today that made it work: an addition in the **.env**:
[code]

Only thing now (what I had before and which vanished after an update (?)):
Can't upload shp

[2022-09-19 13:42] Cornacap commented on #330
Maybe it would be worth to make a note aboute the handling of proxies in the documentation?

[2022-09-19 14:02] afabiani commented on #330
@Cornacap nice, yes, it would be worth having a section on the documentation.

I guess you will need to enable the `http_proxy` variable on the GeoServer `JAVA_OPTS` too probably?

Do you have any stacktrace or log of some sort that allows you to understand the reason you can't upload shp-files?

[2022-09-20 05:33] Cornacap commented on #330
@afabiani this time it was more simple and my mistake. Like [last time](https://github.com/GeoNode/geonode-project/issues/332#issuecomment-1206414288) I forgot to adjust the password for geoserver.

[2022-09-20 05:39] #330 closed, assigned to nobody

[2022-10-03 15:57] t-book opened #371 "Dev Server: Wrong docs and failing because of monitoring"
Hi,

# Wrong docs

[code]

We're inside `src` and rename the env file one dir higher `mv ../.override_dev_env.sample ../.override_dev_env` but ` ./paver_dev.sh` tries to read the file from the same directory.

https://github.com/GeoNode/geonode-project/blob/3df63509043ce7c90a0b960db852ab82006c2a0b/src/paver_dev.sh.sample#L2

We should correct the path like

[code]

# Missing GeoIP

As the geoip da

[2022-10-04 11:07] #371 closed, assigned to t-book

[2022-10-06 15:32] mattiagiupponi opened #375 "enable flower by default"
it can be really useful for debugging purposes and worker monitoring to have celery flower enabled:

https://flower.readthedocs.io/en/latest/

[2022-10-07 10:18] gotjoshua opened #376 "never true test in auth setup"
when will this be true?

https://github.com/GeoNode/geonode-project/blob/4565f3ac680f5477e71143115f8d1bd6cbd42cb9/docker/geoserver/set_geoserver_auth.sh#L22

[2022-10-20 02:20] gaowqspace opened #378 "geonode-project 4.x .env maybe exists some error"
I install GeoNode 4.x follow this tutorial: [https://www.youtube.com/watch?v=lDsDNh6kujw&list=PLIET7uEHqcqjvYzOyvVCuUHenytFDLFq6&index=7](url).
when I run `./docker-build.sh`, command line get:

WARNING: The "JENKINS_HTTP_PORT" variable is not set. Defaulting to a blank string.
WARNING: The "JENKINS_HTTPS_PORT" variable is not set. Defaulting to a blank string.
WARNING: The "JENKINS_HTTPS_PORT" va

[2022-11-22 11:45] frafra commented on #378
Have you created the .env file as written in the `README.md` file?

[2022-11-22 11:46] frafra commented on #329
This happens when `.env` has not populated. See `README.md` on how to generate it using the helper script `create-envfile.py`.

[2022-11-22 11:57] frafra opened #382 "Jenkins: Please set --httpsKeyStore"
Using revision 9a79e50c49e9f961a39e7b2875b211210bbffa37.

[code]

Using `jenkins/jenkins:lts` in `docker-compose.yml` could bring some unexpected results when the LTS version changes. It would be better to pin it to a specific LTS release.

-- https://www.jenkins.io/download/

Automatic major version upgrades every 12 weeks are risky in a production environment.

Possible fixes:
- Use `jenkins/jen

[2022-11-22 12:32] #382 closed, assigned to nobody

[2022-11-22 13:06] frafra commented on #290
Updated reference: https://github.com/GeoNode/geonode/issues/9041

[2022-11-22 17:03] frafra commented on #376
Never :)

[2022-11-22 17:13] frafra opened #386 "Custom port is ignored on Docker"
I choose `5080` as public port.

Here is my `.env` file:
[code]

Login is broken, since the login button points to `http://localhost/geoserver/j_spring_security_check`, and the OAuth2 login button points to `http://localhost/geoserver/web/j_spring_oauth2_geonode_login`.

[2022-11-23 10:41] #290 closed, assigned to afabiani

[2022-11-28 11:44] afabiani opened #389 "Allow "Enable CORS" within GeoServer container through env"
I would like to be able to enable `CORS` on GeoServer by using the `.env` or the Docker `ARGs` like:

[code]

If `enabled` the `entrypoint.sh` should be able to automatically patch the `WEB-INF/web.xml` file as follows:

[code]